<?xml version="1.0" encoding="utf-8"?>
<file_events>
[% FOREACH evt = events %]
<event
    date="[% evt.unix_when %]000"
    author="[% evt.login_name | xml %]"
    action="[% evt.is_new > 0 ? 'A' : 'M' %]"
    filename="/[% evt.product | xml %]/[% evt.component | xml %]/[% evt.bug_id | xml %]"
/>
[% END %]
</file_events>
