[%# Activity & comments RSS feed
  # License: Dual-license MPL 1.1+ or GPL 3.0+
  # Author(s): Vitaliy Filippov <vitalif@mail.ru> %]
[% USE date %]
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="[% Param('urlbase') %]skins/standard/feed.xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>[% title FILTER xml %]</title>
    <link>[% Param('urlbase') %]buglist.cgi?[%- urlquerypart.replace('ctype=rss[&]?','') FILTER xml %]</link>
    <atom:link href="[% Param('urlbase') %]rss-comments.cgi?[% urlquerypart FILTER xml %]" rel="self" type="application/rss+xml" />
    <description>[% "$terms.Bugzilla:" FILTER xml %][% title FILTER xml %]</description>
    <language>en</language>
    <lastBuildDate>[% builddate %]</lastBuildDate>
    [% FOREACH evt = events %]
    <item>
        <title>[% evt.realname FILTER html %] [% IF evt.is_new > 0 %] added [% ELSE %] changed [% END %] bug [% evt.bug_id %]: [% evt.short_desc FILTER xml %]</title>
        <guid isPermaLink="true">[% Param('urlbase') FILTER xml %]show_bug.cgi?id=[% evt.bug_id FILTER xml %]#[% evt.commentlink %]</guid>
        <link>[% Param('urlbase') FILTER xml %]show_bug.cgi?id=[% evt.bug_id FILTER xml %]#[% evt.commentlink %]</link>
        <pubDate>[% evt.datetime_rfc822 %]</pubDate>
        <description><![CDATA[
            [% IF buginfo > 0 %]
            <table class="bug-info"><tr>
                <td>[% evt.bug_id %]</td><td>[% evt.product | html %]/[% evt.component | html %]</td><td>[% evt.bug_severity | html %]</td><td>[% evt.bug_status | html %]</td>
            </tr></table>
            [% END %]
            <div class="item-signature"><a href="[% Param("user_mailto") %][% evt.login_name | html %]">[% evt.realname FILTER html %]</a></div>
            [% IF evt.thetext %]
            <pre>
                [% evt.thetext FILTER quoteUrls FILTER wrap_comment FILTER absolute_uris %]
            </pre>
            [% END %]
            [% IF evt.changes %]
            <table>
                <tr><td><b>What</b></td><td><b>Removed</b></td><td><b>Added</b></td></tr>
                [% FOR ch = evt.changes %]
                <tr><td>[% ch.desc | html %]</td><td>[% ch.old | html %]</td><td>[% ch.new | html %]</td></tr>
                [% END %]
            </table>
            [% END %]
            [% IF UserInGroup(Param('timetrackinggroup')) && (evt.work_time != 0 ) %]
                <div class="item-worktime">[% evt.work_time %]</div>
            [% END %]
        ]]></description>
        <atom:author>
            <atom:email>[% evt.login_name | xml %]</atom:email>
            <atom:name>[% evt.realname FILTER html %]</atom:name>
        </atom:author>
    </item>
    [% END %]
</channel>
</rss>
