[% IF search_description && search_description.size %]
<ul class="search_description">
[% FOREACH i = search_description %]
  <li>
    [% IF i.field %]
      <span class="search_field">[% field_descs.${i.field} | html %]:</span>
    [% END %]
    [% IF search_shown_types.${i.type} || debug %]
      ([% search_descs.${i.type} | html %])
    [% END %]
    [% IF i.type == "changedby" %]
      <span class="search_value">[% i.value | html %]</span>
    [% ELSIF search_multi_types.${i.type} %]
      [% FOREACH val IN i.value.split(',') %]
        <span class="search_value">[%+ display_value(i.field, val) | html %]</span>[% ',' UNLESS loop.last %]
      [% END %]
    [% ELSE %]
      <span class="search_value">[%+ display_value(i.field, i.value) | html %]</span>
    [% END %]
    [% IF debug %]
      (<code>[% i.term | html %]</code>)
    [% END %]
  </li>
[% END %]
</ul>
[% END %]
