[%# License: MPL 2.0, incompatible with secondary licenses
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # keyword: A Bugzilla::Keyword object.
  #%]

[% PROCESS global/header.html.tmpl
  title = keyword.id ? "Edit keyword" : "Add keyword"
%]

<form method="post" action="editkeywords.cgi">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right">Name:</th>
      <td><input size="64" maxlength="64" name="name" value="[% keyword.name | html %]" /></td>
    </tr>
    <tr>
      <th align="right">Description:</th>
      <td>
        [% INCLUDE global/textarea.html.tmpl
          name           = 'description'
          minrows        = 4
          cols           = 64
          wrap           = 'virtual'
          defaultcontent = keyword.description
        %]
      </td>
    </tr>
    [% IF keyword.id %]
    <tr>
      <th align="right">[% terms.Bugs %]:</th>
      <td>
        [% IF keyword.bug_count > 0 %]
          <a href="buglist.cgi?keywords=[% keyword.name | url_quote %]">
            [% keyword.bug_count | html %]</a>
        [% ELSE %]
          none
        [% END %]
      </td>
    </tr>
    [% END %]
  </table>

  <input type="submit" value="[% keyword.id ? "Save Changes" : "Add" %]">
  <input type="hidden" name="action" value="[% keyword.id ? "update" : "new" %]">
  <input type="hidden" name="id" value="[% keyword.id || -1 | html %]">
  <input type="hidden" name="token" value="[% token | html %]">
</form>

<p><a href="editkeywords.cgi">Edit other keywords</a>.</p>

[% PROCESS global/footer.html.tmpl %]
