[%# Shows list of groups the user is a member of or can grant
  # License: Dual-license MPL 1.1+ or GPL 3.0+
  # Author(s): Vitaliy Filippov %]

[%# INTERFACE: same as account/prefs/group-list.html.tmpl
  # + allow_edit: boolean, whether the current user is allowed to edit groups
  #%]

[% PROCESS global/header.html.tmpl
  title = "Edit Groups"
  subheader = "This lets you edit the groups available to put users in."
  doc_section = "groups.html"
%]

[% BLOCK before_group_table %][% END %]
[% BLOCK group_row %]
  [% IF allow_edit %]
  <td align="center" valign="top">
    <a href="editgroups.cgi?action=changeform&group=[% group.id %]"><img src="images/edit.png" alt="edit" title="edit" /></a>
    [% IF group.is_bug_group %]
    <a href="editgroups.cgi?action=del&group=[% group.id %]"><img src="images/delete.png" alt="delete" title="delete" /></a>
    [% END %]
  </td>
  [% END %]
[% END %]
[% BLOCK group_head %]
  [% IF allow_edit %]
  <th>Actions</th>
  [% END %]
[% END %]

[% PROCESS "account/prefs/group-list.html.tmpl" show_member = 0 %]

[% IF allow_edit %]
<p><a href="editgroups.cgi?action=add">Add Group</a></p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
