<form name="commentpreviewform" style="display:none" target="commentpreviewframe" method="POST" action="page.cgi?id=previewcomment.html">
<input id="previewcommentvalue" type="hidden" name="comment" value="" />
</form>
