[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Vaskin Kissoyan <vkissoyan@yahoo.com>
  #                 Bradley Baetz <bbaetz@student.usyd.edu.au>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]
[%# This script/template only handles one bug #%]
[% bug = bugs.0 %]
[% IF !bug.error %]
[% filtered_desc = bug.short_desc FILTER html %]
[% filtered_timestamp = bug.delta_ts FILTER time %]
<html style="overflow: hidden; margin: 0">
<head><title>[% "$terms.Bug $bug.bug_id &ndash; $filtered_desc" %]</title></head>
<body style="text-align: center; overflow: hidden; font-size: 13px; margin: -1px 1px 0 1px; background-color: #[% IF bug.bug_status == "NEW" %]FFE040[% ELSIF bug.bug_status == "ASSIGNED" %]FFFFA0[% ELSIF bug.bug_status == "RESOLVED" %]A0FFA0[% ELSIF bug.bug_status == "VERIFIED" %]B79AFF[% ELSIF bug.bug_status == "CLOSED" %]DDDDDD[% ELSIF bug.bug_status == "REOPENED" %]A00000[% END %]">
<div id="dat" style="white-space: nowrap; display: inline-block" title="[[% bug.bug_status %]] [% filtered_desc %]">
[% IF bug.bug_status == "RESOLVED" OR bug.bug_status == "CLOSED" OR bug.bug_status == "VERIFIED" %]
<strike>
[% END %]
    <b><a target="_blank" title="[[% bug.bug_status %]] [% filtered_desc %]" href="/show_bug.cgi?id=[% bug.bug_id %]">[% terms.Bug %]&nbsp;[% bug.bug_id %]</a>&nbsp;
    [% bug.product %]/[% bug.component %]</b>&nbsp;
    [% IF bug.assigned_to %][[% bug.assigned_to.login %]][% END %]
[% IF bug.bug_status == "RESOLVED" OR bug.bug_status == "CLOSED" OR bug.bug_status == "VERIFIED" %]
</strike>
[% END %]
</div>
</body>
</html>
[% ELSE %]
<html>
<head><title>Unauthorized</title></head>
<body style="text-align: center; overflow: hidden; background-color: #FFF0F0; font-size: 13px; margin: -1px 1px 0 1px">Unauthorized to see <a target="_blank" href="/show_bug.cgi?id=[% bug.bug_id %]">Bug [% bug.bug_id %]</a>.</body>
</html>
[% END %]
