[%# Deletion page for generic CRUD UI
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Author(s): Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# INTERFACE:
  # obj: Object being deleted
  # class: Its Bugzilla::Class
  #%]

[% title = BLOCK %]
  Delete [% obj_class.description | html %] '[% obj.name | html %]'
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table class="admin_table">
<tr class="odd_row">
  <th align="left" valign="top">Class:</th>
  <td valign="top">[% obj_class.description | html %]</td>
</tr>
<tr class="even_row">
  <th align="left" valign="top">Object:</th>
  <td valign="top">[% obj.name | html %]</td>
</tr>
<tr class="odd_row">
  <th align="left" valign="top">Used in:</th>
  <td valign="top">
  [% FOREACH f = Bugzilla.get_class_fields({ 'value_class_id' => obj_class.id }) %]
    [% n = f.count_value_objects(obj.id) %]
    [% def = f.default_value_hash.${obj.id} %]
    [% IF n || def %]
      [% used = 1 %]
      [% IF n %]
        <a href="[% f.class.name == 'bug' ? 'buglist.cgi?' : 'list.cgi?class=' _ f.class.name %]
          [%- f.name %]=[%- obj.name | url_quote %]">[% f.description | html %] of
          [%+ n %] [%+ f.class.description | html %][% 's' IF n > 1 %]</a>
        [% "(default value)" IF def %]
      [% ELSE %]
        Default [% f.name | html %] for [% f.class.description | html %]
      [% END %]
      <br />
    [% END %]
  [% END %]
  [% IF !used %]
    None
  [% END %]
  </td>
</tr>
</table>

[% IF used %]

  <p>This object is still used and cannot be deleted.</p>

[% ELSE %]

  <h2>Confirmation</h2>

  <p>Do you really want to delete this value?</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="Yes, delete" />
    <input type="hidden" name="action" value="delete" />
    <input type="hidden" name="class" value="[% obj_class.name | html %]">
    <input type="hidden" name="id" value="[% obj.id | html %]">
    <input type="hidden" name="token" value="[% token | html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl no_edit_link = 1 %]

[% PROCESS global/footer.html.tmpl %]
