[%# Enable/disable field values for a selected value of its controlling value_field
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Authors: Vitaliy Filippov <vitalif@mail.ru>, Vladimir Koptev <vladimir.koptev@gmail.com>
  #%]

[% SET title = "Select Active " _ field.description _ " Objects For " _ field.value_field.description _ ' ' _ visibility_value.name | html %]

[% PROCESS global/header.html.tmpl %]

<h3>[% title | none %]</h3>

<form action="editvisibility.cgi?field=[% field.name | html %]&visibility_value_id=[% visibility_value.id %]" method="POST">
  <input type="hidden" name="token" value="[% token | html %]" />
  <input type="hidden" name="action" value="save" />
  <table id="admin_table" class="admin_table">
    <tbody>
      <tr>
        <th align="left">Active</th>
        <th align="left">Value</th>
      </tr>
      [% FOREACH value = field.legal_values %]
      <tr class="[% loop.index % 2 == 1 ? 'odd' : 'even' +%]_row">
        <td align="center">
          <input type="checkbox" id="val_[% value.id %]" value="[% value.id %]" name="values"
            [% ' checked="checked"' IF field.is_value_enabled(value.id, visibility_value.id) %]/>
        </td>
        <td>
          <label for="val_[% value.id %]">[% value.name | html %]</label>
          <a title="Edit this value" href="editvalues.cgi?action=edit&field=[% field.name %]&value=[% value.name | uri %]">&rarr;</a>
        </td>
      </tr>
      [% END %]
    </tbody>
  </table>
  <br />
  <input type="submit" value="Save" />
</form>

[% PROCESS global/footer.html.tmpl %]
