[%# Generic object editing UI.
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Author: Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# INTERFACE:
  # value: The object we are editing.
  # obj_class: Its Bugzilla::Class.
  #%]

[% IF obj.id %]
  [% title = BLOCK %]Edit '[% obj.name | html %]' [% obj_class.description | html %][% END %]
[% ELSE %]
  [% title = BLOCK %]Add new '[% obj_class.description | html %]'[% END %]
[% END %]

[% PROCESS global/header.html.tmpl
  javascript_urls=['js/bug-visibility.js', "fieldvaluecontrol.cgi?class=${obj_class.id}&user=${Bugzilla.user.id}"] %]

<form method="post" action="editvalues.cgi"[% ' name="Create"' IF !obj.id %]>

  <table border="0" cellpadding="4" cellspacing="0">
    [% FOREACH field = obj_class.get_fields({ 'obsolete' => 0, 'sort' => 1 }) %]
      [% IF obj_class.name != 'version' && obj_class.name != 'milestone' || field.name != 'product_id' %]
      <tr>
        [% PROCESS "admin/fieldvalues/object-field.html.tmpl" editable=1 %]
      </tr>
      [% ELSE %]
      <input type="hidden" name="product_id" value="[% product.id %]" />
      [% END %]
    [% END %]
    [% IF obj_class.name == "keywords" && obj.id %]
      <tr>
        <th align="left">[% terms.Bugs %]:</th>
        <td>
          [% IF obj.bug_count > 0 %]
            <a href="buglist.cgi?keywords=[% obj.name | url_quote %]">
              [% obj.bug_count | html %]</a>
          [% ELSE %]
            none
          [% END %]
        </td>
      </tr>
    [% END %]
    [% FOREACH f = Bugzilla.get_class_fields({ 'value_class_id' => obj_class.id }) %]
      [% SET show_vis = f.value_field && (f.class.name != 'bug' || f.name != 'target_milestone' && f.name != 'version') %]
      [% SET show_def = f.default_value_hash.${obj.id} %]
      [% IF show_vis || show_def %]
      <tr><td colspan="2">
        [% IF show_def %]
          <p style="margin: 8px 0">
            This object is a default [% f.description | html %] for [% f.class.description | html %] class.
          </p>
        [% END %]
        [% IF show_vis %]
          <p style="margin: 8px 0"><label for="visibility_value_id_[% f.id %]">This [% obj_class.description | html %]
            appears in [% f.class.description | html %] field [% f.description | html %]
            when [% f.class.description %] [%+ f.value_field.description | html %] is set to:</label></p>
          <select name="visibility_value_id_[% f.id %]" id="visibility_value_id_[% f.id %]" multiple="multiple" size="15" style="width: 400px">
            [% IF f.value_field.nullable %]
            <option value="0"[% IF f.is_value_enabled(obj.id, 0) %] selected[% END %]>---</option>
            [% END %]
            [% FOREACH field_value = f.value_field.legal_values %]
              [% IF f.visibility_field_id != f.value_field_id || f.has_visibility_value(field_value.id) %]
              <option value="[% field_value.id | none %]" [% ' selected="selected"' IF f.is_value_enabled(obj.id, field_value.id) %]>
                [%- field_value.name | html -%]
              </option>
              [% END %]
            [% END %]
          </select>
          <input type="hidden" name="defined_visibility_value_id_[% f.id %]" value="1" />
        [% END %]
      </td></tr>
      [% END %]
      [% INCLUDE "admin/fieldvalues/control-list-common.html.tmpl" this_field=f this_value=obj %]
    [% END %]
    [% Hook.process('fields') %]
  </table>

  [% IF obj.id %]
  <input type="hidden" name="id" value="[% obj.id | html %]" />
  [% END %]
  <input type="hidden" name="action" value="save" />
  <input type="hidden" name="class" value="[% obj_class.name | html %]" />
  <input type="hidden" name="token" value="[% token | html %]" />
  <input type="submit" value="[% obj.id ? "Save Changes" : "Add" %]" />
</form>

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = obj.id
  no_add_link = !obj.id
%]

[% PROCESS global/footer.html.tmpl %]
