[%# License: MPL 2.0, incompatible with secondary licenses
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: Bugzilla::Field::Choice; The field value we are editing.
  # field: Bugzilla::Field; The field this value belongs to.
  #%]

[% IF value.id %]
  [% title = BLOCK %]Edit Value '[% value.name | html %]' for the '[% field.description | html %]' ([% field.name | html %]) field[% END %]
[% ELSE %]
  [% title = BLOCK %]Add Value for the '[% field.description | html %]' ([% field.name | html %]) field[% END %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

<form method="post" action="editvalues.cgi">

  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th valign="top" align="left">
        <label for="value">Field Value:</label>
      </th>
      <td>
        [% IF value.is_static %]
          <input type="hidden" name="value" id="value" value="[% value.name | html %]" />
          [%- value.name | html %]
        [% ELSE %]
          <input id="value" name="value" size="100" maxlength="[% constants.MAX_FIELD_VALUE_SIZE | none %]" value="[% value.name | html %]" />
        [% END %]
      </td>
    </tr>
    <tr>
      <th align="left"><label for="sortkey">Sortkey:</label></th>
      <td><input id="sortkey" size="6" maxlength="6" name="sortkey" value="[%- value.sortkey | html %]" /></td>
    </tr>
    [% IF field.name == "bug_status" %]
      <tr>
        <th align="left"><label for="is_open">Is open:</label></th>
        <td>
          <input id="is_open" name="is_open" type="checkbox" value="1"
            [%+ 'checked="checked"' IF value.is_open %] />
        </td>
      </tr>
      <tr>
        <th align="left"><label for="is_assigned">Is it an assigned state?</label></th>
        <td>
          <input id="is_assigned" name="is_assigned" type="checkbox" value="1"
            [%+ 'checked="checked"' IF value.is_assigned %] />
        </td>
      </tr>
      <tr>
        <th align="left"><label for="is_confirmed">Is it a confirmed state?</label></th>
        <td>
          <input id="is_confirmed" name="is_confirmed" type="checkbox" value="1"
            [%+ 'checked="checked"' IF value.is_confirmed %] />
        </td>
      </tr>
    [% END %]
    <tr>
      <th align="left"><label for="isactive">Enabled for [% terms.bugs %]:</label></th>
      <td>
        <input id="isactive" name="isactive" type="checkbox" value="1"
          [%+ 'checked="checked"' IF value.isactive || !value.id %]
          [%+ 'disabled="disabled"' IF value.is_default OR value.is_static %] />
        [% IF value.is_default %]
          This value is selected as default in the parameters for this field. It cannot be disabled.
        [% ELSIF value.is_static %]
          This value is non-deletable and cannot be disabled.
        [% END %]
      </td>
    [% IF field.value_field && !value.is_static %]
      <tr>
        <th colspan="2" align="left">
          Only appears when [%+ field.value_field.description | html %] is set to:<br />
          <span style="font-weight: normal">(<a href="javascript:void(0)"
            onclick="document.getElementById('visibility_value_id').selectedIndex=-1">clear options</a>
            to make this value always appear)</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <select name="visibility_value_id[]" id="visibility_value_id" multiple="multiple" size="15" style="width: 400px">
            [% FOREACH field_value = field.value_field.legal_values %]
              [% NEXT IF field_value.name == '' %]
              <option value="[% field_value.id | none %]" [% ' selected="selected"' IF value.has_visibility_value(field_value.id, 0) %]>
                [%- field_value.name | html -%]
              </option>
            [% END %]
          </select>
        </td>
      </tr>
    [% END %]
    [% INCLUDE "admin/fieldvalues/control-list-common.html.tmpl" this_field=field this_value_id=value.id %]
    </tr>
    [% Hook.process('fields') %]
  </table>

  [% IF value.id %]
  <input type="hidden" name="value_old" value="[% value.name | html %]" />
  [% END %]
  <input type="hidden" name="action" value="[% value.id ? "update" : "new" %]" />
  <input type="hidden" name="field" value="[% field.name | html %]" />
  <input type="hidden" name="token" value="[% token | html %]" />
  <input type="submit" value="[% value.id ? "Save Changes" : "Add" %]" />
</form>

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = value.id
  no_add_link = !value.id
%]

[% PROCESS global/footer.html.tmpl %]
