[%# Footer for simple generic CRUD UI
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Author: Vitaliy Filippov <vitalif@mail.ru>
  # %]

[%# INTERFACE:
  # obj: object; the object being inserted/edited.
  # obj_class: object; the class to which the object belongs/belonged to.
  # no_edit_link
  # no_edit_other_link
  # no_add_link
  #%]

<hr />

[% IF obj && (!no_history_link || !no_edit_link) %]
<p>
[% IF !no_history_link %]
  View <a href="show_activity.cgi?class=[% obj_class.name | url_quote %]&id=[% obj.id %]">change history</a> of
  [%+ obj_class.description | html %] '[% obj.name || ('#' _ obj.id) | html %]'.
[% END %]

[% IF !no_edit_link %]
  [% IF obj_class.name == 'product' %]
  <a href="editproducts.cgi?action=edit&product=[% obj.name | uri %]">
    Edit product '[% obj.name | html %]'</a>.
  [% ELSIF obj_class.name == 'classification' %]
  <a href="editclassifications.cgi?action=edit&classification=[% obj.name | uri %]">
    Edit classification '[% obj.name | html %]'</a>.
  [% ELSIF obj_class.name == 'component' %]
  <a href="editcomponents.cgi?action=edit&product=[% obj.product.name | uri %]&component=[% obj.name | uri %]">
    Edit component '[% obj.name | html %]'</a>.
  <a href="editproducts.cgi?action=edit&product=[% obj.product.name | uri %]">
    Edit product '[% obj.product.name | html %]'</a>.
  [% ELSE %]
  <a href="editvalues.cgi?action=edit&class=[% obj_class.name | uri %]&id=[% obj.id | uri %]">
    Edit [% obj_class.description | html %] '[% obj.name || ('#' _ obj.id) | html %]'</a>.
  [% END %]
[% END %]
</p>
[% END %]

[% IF !no_add_link || !no_edit_other_link %]
<p>
  [% IF !no_add_link %]
  <a title="Add a new [% obj_class.description | html %]."
    href="editvalues.cgi?action=add&class=[% obj_class.name | url_quote %][% IF product %]&product_id=[% product.id %][% END %]">
    Add a new [% obj_class.description | html %]
    [% IF product %] for product [% product.name | html %][% END %]</a>.
  [% END %]
  [% IF !no_edit_other_link %]
  <a href="editvalues.cgi?class=[% obj_class.name | url_quote %][% IF product %]&product_id=[% product.id %][% END %]">
    Edit other objects of class [% obj_class.description | html %]</a>
    [% IF product %] for product <a href="editproducts.cgi?action=edit&product=[% product.name | url_quote %]">[% product.name | html %]</a>[% END %].
  [% END %]
</p>
[% END %]
