[%# List page for generic CRUD UI
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Author(s): Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# INTERFACE:
  # obj_class: Bugzilla::Class instances of which we are editing.
  # values: array of all objects of that class.
  #%]

[% SET title = "Select " _ obj_class.description _ " to edit" | html %]
[% PROCESS global/header.html.tmpl %]

[% edit_contentlink = BLOCK %]editvalues.cgi?action=edit&amp;class=[%- obj_class.name | url_quote %]&amp;id=%%id%%[% END %]
[% delete_contentlink = BLOCK %]editvalues.cgi?action=del&amp;class=[%- obj_class.name | url_quote %]&amp;id=%%id%%[% END %]

[% columns = [
     {
       name => "name"
       heading => "Edit " _ obj_class.description _ "..."
       contentlink => edit_contentlink
     },
     {
       name => "isactive"
       heading => "Enabled"
       align => 'center'
       yesno_field => 1
     },
     {
       name => "action"
       heading => "Action"
       align => 'center'
       content => "Delete"
       contentlink => delete_contentlink
     },
   ]
%]
[% FOREACH f = obj_class.get_fields() %]
  [% IF f.name == 'sortkey' %]
    [% SET _void = columns.splice(1, 0, {
      name => "sortkey"
      heading => "Sortkey"
      align => 'center'
    }) %]
  [% END %]
[% END %]

<h3>Edit objects of class '[% obj_class.description | html %]'[% IF product %] for product '[% product.name | html %]'[% END %]</h3>

[% IF obj_class.name == "component" || obj_class.name == "product" %]
<p>[% obj_class.description | html %]s must be edited from a product page. <a href="editproducts.cgi">Select a product</a> first.</p>
[% ELSE %]
  [% INCLUDE admin/table.html.tmpl
    columns = columns
    data = values
    overrides = overrides
  %]
  [% FOREACH f = Bugzilla.get_class_fields({ 'value_class_id' => obj_class.id }) %]
  <p style="margin: 4px 0">
    This class is used for [% f.class.description | html %] &rarr; [% f.description | html %] attribute.
  </p>
  [% END %]
  [% PROCESS admin/fieldvalues/footer.html.tmpl
    no_edit_other_link = 1
  %]
[% END %]

[% PROCESS global/footer.html.tmpl %]
