[%# Select class of objects to edit
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Author(s): Vitaliy Filippov <vitalif@mail.ru>
  #%]

[% PROCESS global/header.html.tmpl title = "Which objects to edit?" %]

[% columns = [
     {
       name => "description"
       heading => "Edit objects of class..."
       contentlink => "editvalues.cgi?class=%%name%%"
     }
   ]
%]

[% PROCESS admin/table.html.tmpl
  columns = columns
  data = classes
%]

[% PROCESS global/footer.html.tmpl %]
