[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% IF user.id AND !read_only_flags %]

[%# We list flags by looping twice over the flag types relevant for the bug.
  # In the first loop, we display existing flags and then, for active types,
  # we display UI for adding new flags.  In the second loop, we display UI 
  # for adding additional new flags for those types for which a flag already
  # exists but which are multiplicable (can have multiple flags of the type
  # on a single bug/attachment).
  #%]

[% DEFAULT flag_table_id = "flags" %]

<script type="text/javascript" src="[% 'js/flag.js' | ts_url %]"></script>

<table id="[% flag_table_id | html %]" class="flag_table">
  [% UNLESS flag_no_header %]
    <tr>
      <th colspan="2">
        Flags:
      </th>
      [% IF any_flags_requesteeble %]
        <th>
          Requestee:
        </th>
      [% END %]
    </tr>
  [% END %]

  [%# Step 1: Display every flag type (except inactive types with no flags). %]
  [% FOREACH type = flag_types %]

    [%# Step 1: Display existing flag(s). %]
    [% FOREACH flag = type.flags %]
      <tr>
        <td>
          <a href="#[% flag.creation_date | timestamp %]">[% flag.setter.nick | html %]</a>:&nbsp;
          [%%]<label title="[% type.description | html %]" for="flag-[% flag.id %]" style="white-space: nowrap">[%- type.name | html -%]</label>
        </td>
        <td>
          <select id="flag-[% flag.id %]" name="flag-[% flag.id %]" 
                  title="[% type.description | html %]"
                  onchange="toggleRequesteeField(this);"
                  class="flag_select flag_type-[% type.id %]">
            [% FOR st = flag.statuses %]
              <option value="[% st | html %]"[% ' selected="selected"' IF flag.status == st %]>[% st | html %]</option>
            [% END %]
          </select>
        </td>
        [% IF any_flags_requesteeble %]
          <td width="100%">
            [% IF (type.is_active && type.is_requestable && type.is_requesteeble) || flag.requestee %]
              <span style="white-space: nowrap;">
                [% INCLUDE "global/userselect.html.tmpl"
                    name     => "requestee-$flag.id"
                    size     => 20
                    style    => "width: 100%"
                    id       => "requestee-$flag.id"
                    value    => flag.requestee.login
                    emptyok  => 1
                    custom_userlist  => flag.custom_list && flag.custom_list.ready_list
                %]
              </span>
            [% END %]
          </td>
        [% END %]
      </tr>
    [% END %]

    [%# Step 2: Display UI for setting flag. %]
    [% IF (!type.flags || type.flags.size == 0 || type.is_multiplicable) && type.is_active %]
      [% PROCESS flag_row %]
    [% END %]
  [% END %]
</table>

[% ELSE %]
  [%# The user is logged out. Display flags as read-only. %]
  [% header_displayed = 0 %]
  [% FOREACH type = flag_types %]
    [% FOREACH flag = type.flags %]
      [% IF !flag_no_header AND !header_displayed %]
        <p><b>Flags:</b></p>
        [% header_displayed = 1 %]
      [% END %]
      [% flag.setter.nick | html %]:
      [%+ type.name | html | no_break %][% flag.status %]
      [% IF flag.requestee %]
        ([% flag.requestee.nick | html %])
      [% END %]<br />
    [% END %]
  [% END %]
[% END %]

[%# Display a table row for unset flags %]

[% BLOCK flag_row %]
  <tr>
    <td>
      [% addl_text | html %]
      <label title="[% type.description | html %]" for="flag_type-[% type.id %]" style="white-space: nowrap">[%- type.name | html %]</label>
    </td>
    <td>
      <select id="flag_type-[% type.id %]" name="flag_type-[% type.id %]"
              title="[% type.description | html %]"
              [% " disabled=\"disabled\"" UNLESS (type.is_requestable && user.can_request_flag(type)) || user.can_set_flag(type) %]
              onchange="toggleRequesteeField(this);"
              class="flag_select flag_type-[% type.id %]">
        <option value="X"></option>
        [% IF type.is_requestable && user.can_request_flag(type) %]
          <option value="?"[% ' selected="selected"' IF type.default_value == "?" %]>?</option>
        [% END %]
        [% IF user.can_set_flag(type) %]
          <option value="+"[% ' selected="selected"' IF type.default_value == "+" %]>+</option>
          <option value="-"[% ' selected="selected"' IF type.default_value == "-" %]>-</option>
        [% END %]
      </select>
    </td>
    [% IF any_flags_requesteeble %]
      <td width="100%">
        [% IF type.is_requestable && type.is_requesteeble %]
          <span style="white-space: nowrap;">
            [% INCLUDE "global/userselect.html.tmpl"
                name => "requestee_type-$type.id"
                id => "requestee_type-$type.id"
                size => 20
                style => "width: 100%"
                value => type.default_requestee
                multiple => type.is_multiplicable
                emptyok => !type.is_multiplicable
                custom_userlist => type.custom_list && type.custom_list.ready_list
            %]
          </span>
        [% END %]
      </td>
    [% END %]
  </tr>
[% END %]
