[% PROCESS "global/field-descs.none.tmpl" %]

[% qorder = order FILTER url_quote IF order %]

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>[% terms.Bug %] List[% IF searchname || defaultsavename %][% ": " _ (searchname || defaultsavename) | html %][% END %]</title>
    <link rel="stylesheet" type="text/css" media="print" href="skins/standard/print.css" />
<style>
.abug { float: left; background-color: white; margin: 0.5cm 0.1cm 0.1cm 0.1cm; font-size: 90%; width: 6cm; height: 6cm; font-weight: bold; }
.abug td { text-align: center; }
.dot { border: 1px dashed black; }
.dot { white-space: nowrap; }
.dot a { color: black; text-decoration: none; }
.sevpri { font-size: 80%; vertical-align: bottom; }
.desc { height: 100%; border: 1px solid black; vertical-align: top; font-size: 110%; }
</style>
</head>
<body>
<form class="print_hide" action="?[% urlquerypart.replace('[&\?]columnlist=[^&]*', '') | html %]&amp;columnlist=bug_severity%2Cpriority%2Cshort_desc%2Cestimated_time%2Cactual_time%2Ctarget_milestone&amp;format=scrum" method="POST">
<input type="checkbox" name="scrum_select" id="scrum_select" onchange="document.getElementById('scrum_attrs').style.display=(this.checked?'':'none')" value="1" [% " checked" IF scrum_select %] /> <label for="scrum_select">Use additional estimates (<a href="editscrum.cgi?type_select=1&sprint_select=1&id=[% FOR id = buglist %],[% id %][% END %]&sprint=[% scrum_sprint | url_quote | html %]&type=[% scrum_type | url_quote | html %]">edit</a>)</label>
<span id="scrum_attrs" [% ' style="display:none"' IF NOT scrum_select %]>&nbsp; <label for="scrum_sprint">Sprint:</label> <input type="text" name="scrum_sprint" id="scrum_sprint" value="[% scrum_sprint | html %]" />
&nbsp; <label for="scrum_type">Type:</label> <input type="text" name="scrum_type" id="scrum_type" value="[% scrum_type | html %]" />
&nbsp; <input type="submit" value=" Select " /></span>
</form>
[% FOR bug = bugs %]
<table class="abug" cellspacing="5">
<tr>
    <td class="dot" width="1"><a href="show_bug.cgi?id=[% bug.bug_id %]">[% bug.bug_id | html %]</a></td>
    <td class="sevpri">[% bug.bug_severity.substr(0, 3) | html %]&nbsp;[% bug.priority | html %]</td>
    <td class="dot">[% bug.target_milestone %]</td>
</tr>
<tr>
    <td colspan="3" class="desc">[% bug.short_desc | html %]</td>
</tr>
<tr>
    <td colspan="3">[% IF scrum_select %][% scrum_estimates.${bug.bug_id} %][% ELSE %][% bug.estimated_time ? 0+bug.estimated_time : 0+bug.work_time %][% END %]</td>
</tr>
</table>
[% END %]
</body>
</html>
