[%# Parameter descriptions for Integration config section
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Contributor(s): Stas Fomin <stas-fomin@yandex.ru>, Vitaliy Filippov <vitalif@mail.ru> %]

[%
   title = "Integration config"
   desc = "Configuration for integrating Bugzilla with external systems (MediaWiki, ViewVC, etc)"
%]

[% param_descs = {
    viewvc_url => "ViewVC query URL for browsing bug code",
    wiki_url => "Default MediaWiki URL for bug links",
    mediawiki_urls =>
      "<p style='margin: 0'>Known MediaWiki URLs to be quoted in bug comments, one per line. Example:</p>"
      _ "<pre style='margin: 8px 0; padding: 4px; background: white; float: left;"
      _ " border: 1px solid gray;'>wikipedia http://en.wikipedia.org/wiki/</pre>"
      _ "<p style='margin: 0; clear: both'>Links like <b><tt>wikipedia:Article_name#Section</tt></b>"
      _ " and <b><tt>wikipedia:[[Article name#Section]]</tt></b><br /> will be quoted"
      _ " and lead to <b>Section</b> (optional) of <b>Article name</b> page in the Wikipedia.</p>",
    user_mailto => "Substitution for 'mailto:', you may use a link to user search by email in an external system",
    ext_disable_refresh_views => "Disable automatic refreshing of DB views on user/group/saved search changes",

    # FIXME move this into custishacks
    login_urlbase_redirects =>
      "<p style='margin: 0'>Base URLs and login name regexps to redirect users to."
      _ " Useful if you have several frontends with different settings for different users."
      _ " Links in email messages will always lead to correct address for each user, and if"
      _ " they select 'Redirect me to my bugzilla' in preferences, they'll be always redirected"
      _ " to correct address.</p><p style='margin: 8px 0 0 0'>"
      _ " I.e. not so useful for average installation :-) Example:</p>"
      _ "<pre style='margin: 8px 0; padding: 4px; background: white; float: left;"
      _ " border: 1px solid gray;'>[^\@]+\@domain\.com$ http://bugs.domain.com/</pre>"
      _ "<div style='clear: both'></div>",
    sm_dotproject_wsdl_url => "SM dotProject WSDL URL for sending bugs to it",
    sm_dotproject_login => "Login for SM dotProject webservices",
    sm_dotproject_password => "Password for SM dotProject webservices",
    sm_dotproject_ws_user => "Login of a special user under which bugs will"
      _ " be read for sending them to dotProject",
  }
%]
