[%# Parameter descriptions for Integration config section
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Contributor(s): Stas Fomin <stas-fomin@yandex.ru>, Vitaliy Filippov <vitalif@mail.ru> %]

[%
  title = "Integration config"
  desc = "Configuration for integrating Bugzilla with external systems (MediaWiki, ViewVC, etc)"
  info = ""
%]

[% param_descs = {
    see_also_url_regexes =>
      "<p style='margin: 0'>Perl regular expressions for checking 'See Also' field. Only values that match one of these regexes are allowed. Format:</p>"
      _ "<pre style='margin: 8px 0; padding: 4px; background: white;"
      _ " border: 1px solid gray;'># Lines that start with # are treated as comments\n&lt;REGEX&gt;   &lt;REPLACEMENT&gt;</pre>",
    gravatar_url =>
      "URL template for Gravatar-like avatars. You can use either \$MD5 or \$EMAIL in it to get avatar picture by user email."
      _ " \$EMAIL will be replaced by cleartext user email, so you should only never use it in public networks;"
      _ " \$MD5 will be replaced by MD5 hash of user email, just like it is required by real Gravatar service."
      _ " You can also disable avatar display by clearing this parameter.",
    look_in_urls =>
      "<p style='margin: 0'>VCS/Wiki/whatever query URLs for 'Look for bug in ...' links, one per line, separated by ':'.</p>" _
      "<pre class='cfg_example'>CVS/SVN: http://viewvc.local/?view=query&comment=bug\$BUG+\$BUG&comment_match=fulltext&querysort=date&date=all</pre>" _
      "<p style='margin: 0; clear: both'>$BUG will be replaced with bug ID in these URLs.</p>",
    wiki_url =>
      "Default MediaWiki URL for bug links. Bugzilla4Intranet links to <tt>&lt;wiki_url&gt;/Bug_XXX</tt> pages when this is non-empty.",
    mediawiki_urls =>
      "<p style='margin: 0'>Known MediaWiki URLs to be quoted in bug comments, one per line. Example:</p>"
      _ "<pre class='cfg_example'>wikipedia http://en.wikipedia.org/wiki/</pre>"
      _ "<p style='margin: 0; clear: both'>Links like <b><tt>wikipedia:Article_name#Section</tt></b>"
      _ " and <b><tt>wikipedia:[[Article name#Section]]</tt></b><br /> will be quoted"
      _ " and lead to <b>Section</b> (optional) of <b>Article name</b> page in the Wikipedia.</p>",
    user_mailto =>
      "Substitution for 'mailto:', you may use a link to user search by email in an external system.",
    ext_disable_refresh_views =>
      "Disable automatic refresh of DB views on user/group/saved search changes.",
  }
%]
