[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
  title = "Shadow Database"
  desc = "An optional hack to increase database performance"
  info = "<p>Versions of Bugzilla prior to 3.2 used the MySQL MyISAM table type, which supports"
    _ " only table-level write locking. With MyISAM, any time someone is making a change to"
    _ " a bug, the entire table is locked until the write operation is complete."
    _ " Locking for write also blocks reads until the write is complete.</p>"
    _ "<p>The 'Shadow DB' feature was designed to get around this limitation."
    _ " The idea was to set up replication to a separate MySQL \"slave\" instance"
    _ " and use it for read queries. This allowed everyone to read tables that were"
    _ " otherwise locked by the concurrent users.</p>"
    _ "<p>As of version 3.2, Bugzilla no longer uses the MyISAM table type."
    _ " Instead, InnoDB is used, which has <a href=\"http://en.wikipedia.org/wiki/Multiversion_concurrency_control\">MVCC</a>"
    _ " allowing writers to not block readers. Therefore, the limitations the Shadow Database feature was designed"
    _ " to workaround <b>no longer exist</b>. Nobody is blocked even by very complex long-running search queries.</p>"
%]

[% param_descs = {
  shadowdbhost => "The host the shadow database is on.",

  shadowdbport => "The port the shadow database is on. Ignored if " _
                  "<tt>shadowdbhost</tt> is blank. Note: if the host is the local " _
                  "machine, then MySQL will ignore this setting, and you must " _
                  "specify a socket below.",

  shadowdbsock => "The socket used to connect to the shadow database, if the host " _
                  "is the local machine. This setting is required because MySQL " _
                  "ignores the port specified by the client and connects using " _
                  "its compiled-in socket path (on unix machines) when connecting " _
                  "from a client to a local server. If you leave this blank, and " _
                  "have the database on localhost, then the <tt>shadowdbport</tt> " _
                  "will be ignored.",

  shadowdb => "If non-empty, then this is the name of another database in " _
              "which $terms.Bugzilla will use as a read-only copy of everything. " _
              "This is done so that long slow read-only operations can be used " _
              "against this db, and not lock up things for everyone else. This " _
              "database is on the <tt>shadowdbhost</tt>, and must exist. " _
              "$terms.Bugzilla does not update it, if you use this parameter, then " _
              "you need to set up replication for your database." }
%]
