[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
  title = "User Matching"
  desc = "Set up your user matching policies"
  info = "The settings on this page control how users are selected and queried when adding a user to a bug."
%]

[% param_descs = {
  usemenuforusers =>
    "If this option is set, all registered users will be shown in user " _
    "autocomplete boxes when the corresponding field is empty. Enable " _
    "only if you have a fairly small amount of registered users.",

  maxusermatches =>
    "Search for no more than this many matches.<br /> " _
    "If set to '1', no users will be displayed on ambiguous matches. " _
    "A value of zero means no limit.",

  confirmuniqueusermatch =>
    "Whether a confirmation screen should be displayed when only " _
    "one user matches a search entry.",

  emailin_autoregister =>
    "Whether an unknown e-mail address should be converted into an " _
    "automatically registered disabled user account when processing incoming emails by email_in.pl",

  levenshteinusermatch =>
    "If this option is set to a positive integer N, $terms.Bugzilla will " _
    "effectively correct N 'misprints' in user login names by using " _
    "the Levenshtein distance function for matching users. " _
    "If N is a floating point value, it is treated relative to the length of user name. <br />" _
    "WARNING: Levenshtein distance is calculated via SQL function <tt>LEVENSHTEIN()</tt> " _
    "which <b>must be installed separately</b> as a <a href='https://github.com/vitalif/mysql-levenshtein'>UDF for MySQL</a> " _
    "or <a href='http://www.postgresql.org/docs/9.3/static/fuzzystrmatch.html'>fuzzystrmatch module for PostgreSQL</a>."
}
%]
