[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Stefan Seifert <nine@detonation.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% INCLUDE global/header.html.tmpl title = "Bug $bug.id - Check access" %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

<h2>[% count_user_list %] Users can see Bug [% bug.id %]</h2>

<hr/>

<table>
    <thead>
        <tr>
            <th>User name</th>
            <th>User login (email)</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH user = user_list %]
        <tr>
            <td>[% user.1 %]</td><td>[% user.2 %]</td>
        </tr>
        [% END %]
    </tbody>
</table>

[% INCLUDE global/footer.html.tmpl %]
