[%# Author: Vitaliy Filippov <vitalif@mail.ru>
  # License: Dual-license GPL 3.0+ or MPL 1.1+ %]

<html id="cmthtm" style="overflow: hidden">
<body style="margin: 0; padding: 0; overflow: hidden">
<div class="bz_comment" style="border-style: dotted; border-width: 2px; border-color: #969696; background-color: #e8e8e8; padding: 5px">
<div class="bz_comment_text[% ' bz_fullscreen_comment' IF user.settings.comment_width.value == 'on' %]">[%- Bugzilla.cgi.param("comment") | quoteUrls | wrap_comment | links_targetblank -%]</div>
</div>
</body>
<script type="text/javascript">
<!--
function loaded() {
  parent.document.getElementById('commentpreviewhtml').innerHTML = document.body.innerHTML;
}
//-->
</script>
</html>
