[% PROCESS "global/field-descs.none.tmpl" %]

[% title = "Массовое введение трудозатрат" %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = [ "skins/standard/buglist.css", "skins/standard/yui/calendar.css" ]
%]

<p>
  Данная форма используется для массового введения трудозатрат[% IF wt_admin %],
  в том числе задним числом и от имени нескольких пользователей[% END %].<br />
  Для введения трудозатрат задним числом и от имени других пользователей
  требуется членство в группе <b>worktimeadmin</b>.
</p>

<fieldset>
<legend>Выборка трудозатрат:</legend>
<form action="?" method="POST" />
<input type="hidden" name="format" value="superworktime" />
[% FOR k = query.keys %]
[% IF k != 'chfieldfrom' && k != 'chfieldto' && k != 'chfieldwho' && k != 'worktime_user' && k != 'worktime_date' && k != 'save_worktime' %]
  <input type="hidden" name="[% k | html %]" value="[% query.${k} | html %]" />
[% END %]
[% END %]
  Дата:
  с <input type="text" name="chfieldfrom" value="[% query.chfieldfrom | html %]" />
  по <input type="text" name="chfieldto" value="[% query.chfieldto | html %]" />
  <span style="color: #aaa">(YYYY-MM-DD HH:MM:SS)</span> &nbsp; &nbsp;
  Пользователь: <input type="text" name="chfieldwho" value="[% query.chfieldwho | html %]" /> &nbsp;
  <input type="submit" value=" Показать трудозатраты " />
</form>
</fieldset>

[% PROCESS list/description.html.tmpl %]

[% IF bugs.size > 9 %]
[% bugs.size %] [%+ terms.bugs %] found.
[% END %]

<form action="?" method="POST">

<input type="hidden" name="format" value="superworktime" />
<input type="hidden" name="save_worktime" value="1" />
[% FOR k = query.keys %]
[% IF k != 'worktime_user' && k != 'worktime_date' && k != 'save_worktime' %]
<input type="hidden" name="[% k | html %]" value="[% query.${k} | html %]" />
[% END %]
[% END %]

[% BLOCK worktime_th %]
<th>Списать время</th>
[% END %]

[% BLOCK worktime_td %]
<td><input type="text" name="wtime_[% bug.bug_id %]" id="wtime_[% bug.bug_id %]" value="" /></td>
[% END %]

[% SET bug_table_callback = "worktime_td" %]
[% SET bug_header_callback = "worktime_th" %]
[% PROCESS list/table.html.tmpl %]

<fieldset>
  <legend>Списать время:</legend>
  На дату: <input type="text" name="worktime_date" value="[% worktime_date | html %]" /> &nbsp;
  <span id="wt_for_user">За пользователя:</span>
[% IF wt_admin %]
  <input type="text" name="worktime_user" id="worktime_user" value="[% worktime_user | html %]" onkeypress="forall_check()" onchange="forall_check()" /> &nbsp;
[% ELSE %]
  <b>[%+ Bugzilla.user.login | html %]</b> &nbsp;
[% END %]
  <input value=" Списать время " type="submit" style="font-weight: bold" /> &nbsp;
  Добавить комментарий: <input type="text" name="comment" value="[% comment | html %]" />
</fieldset>

</form>

<fieldset id="divide_hours_cont">
  <legend>Распределение часов по багам:</legend>
  Сумма: <input type="text" id="divide_hours" onchange="divide_hours_check()" onkeypress="divide_hours_check()" /> &nbsp;
  <input value=" Распределить часы " type="button" onclick="divide_hours_click()" />
  (пропорционально / равномерно, будут добавлены к значениям в таблице)
</fieldset>

<script language="JavaScript">
var period_times = { [% FOREACH bug = bugs %][% IF NOT loop.first %],[% END %]'[% bug.bug_id %]':[% bug.interval_time || 0 %][% END %] };
function divide_hours_click()
{
  var sum = bzParseTime(document.getElementById('divide_hours').value);
  if (!sum || sum != sum)
  {
    alert('Нечего распределять! Введите число, время в формате HH:MM, или в днях 1d, 2d, 3d и т.п.');
    return;
  }
  var period_sum = 0, period_count = 0;
  for (var i in period_times)
  {
    period_sum += period_times[i];
    period_count++;
  }
  var cur, inc, ed;
  var total_inc = 0;
  for (var i in period_times)
  {
    ed = document.getElementById('wtime_'+i);
    cur = bzParseTime(ed.value);
    if (!cur || cur != cur)
      cur = 0;
    if (period_sum == 0)
      inc = sum/period_count;
    else
      inc = sum*period_times[i]/period_sum;
    inc = Math.round(inc*100)/100;
    [%# Следующие 3 строчки - извратик, призванный корректировать
      # возникающую ошибку округления, чтобы реальная сумма
      # списываемых часов была более близка к заданной %]
    sum -= inc;
    period_count--;
    period_sum -= period_times[i];
    cur += inc;
    total_inc += inc;
    cur = Math.round(cur*100)/100;
    ed.value = cur;
  }
}
function divide_hours_check()
{
  var val = document.getElementById('divide_hours').value;
  var sum = bzParseTime(val);
  var incorrect = val !== '' && (sum != sum || sum === null || sum === undefined);
  document.getElementById('divide_hours_cont').style.backgroundColor = incorrect ? '#ffe0e0' : '';
}
function forall_check()
{
  var val = document.getElementById('worktime_user').value;
  var span = document.getElementById('wt_for_user');
  span.style = val ? '' : 'font-weight: bold; color: red';
  span.innerHTML = val ? 'За пользователя:' : 'за всех участников:';
}
forall_check();
</script>

[% PROCESS global/footer.html.tmpl %]
