[% PROCESS "global/field-descs.none.tmpl" %]

[% title = "Массовый ввод трудозатрат" %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = [ "skins/standard/buglist.css", "skins/standard/yui/calendar.css" ]
%]

<p>
  Данная форма используется для массового ввода трудозатрат[% IF wt_admin %],
  в том числе задним числом и от имени нескольких пользователей[% END %].<br />
  Для введения трудозатрат задним числом и от имени других пользователей
  требуется членство в группе <b>worktimeadmin</b>.
</p>

<fieldset>
<legend>Выборка трудозатрат:</legend>
<form action="?" method="POST" />
<input type="hidden" name="format" value="superworktime" />
[% hidden_fields = {
    'chfieldfrom'    => 1
    'chfieldto'      => 1
    'chfieldwho'     => 1
    'worktime_user'  => 3
    'worktime_date'  => 3
    'save_worktime'  => 3
    'format'         => 3
    'comment'        => 2
    'divide_min_inc' => 2
} %]
[% FOR k = query_params.keys %]
[% IF !hidden_fields.$k || hidden_fields.$k == 2 %]
  [% IF query_params.$k.size %]
   [% FOR vk = query_params.${k} %]
    <input type="hidden" name="[% k | html %]" value="[% vk | html %]" />
   [% END %]
  [% ELSE %]
    <input type="hidden" name="[% k | html %]" value="[% query_params.${k} | html %]" />
  [% END %]
[% END %]
[% END %]
  Дата:
  с <input type="text" name="chfieldfrom" value="[% query_params.chfieldfrom | html %]" />
  по <input type="text" name="chfieldto" value="[% query_params.chfieldto | html %]" />
  <span style="color: #aaa">(YYYY-MM-DD HH:MM:SS)</span> &nbsp; &nbsp;
  Пользователь: <input type="text" name="chfieldwho" value="[% query_params.chfieldwho | html %]" /> &nbsp;
  <input type="submit" value=" Показать трудозатраты " />
</form>
</fieldset>

[% PROCESS list/description.html.tmpl %]

[% IF bugs.size > 9 %]
[% bugs.size %] [%+ terms.bugs %] found.
[% END %]

<form action="?" method="POST">

<input type="hidden" name="format" value="superworktime" />
<input type="hidden" name="save_worktime" value="1" />
[% FOR k = query_params.keys %]
[% IF !hidden_fields.$k || hidden_fields.$k == 1 %]
<input type="hidden" name="[% k | html %]" value="[% query_params.${k} | html %]" />
[% END %]
[% END %]

[% BLOCK worktime_th %]
<th>Списать время</th>
[% END %]

[% BLOCK worktime_td %]
<td><input type="text" name="wtime_[% bug.bug_id %]" id="wtime_[% bug.bug_id %]" value="" /></td>
[% END %]

[% SET bug_table_callback = "worktime_td" %]
[% SET bug_header_callback = "worktime_th" %]
[% PROCESS list/table.html.tmpl %]

<fieldset>
  <legend>Списать время:</legend>
[% IF wt_admin %]
  На дату: <input type="text" name="worktime_date" value="[% worktime_date | html %]" /> <span style="color: #aaa">(YYYY-MM-DD HH:MM:SS)</span> &nbsp;
  За пользователя:
  <div style="display:inline-block">
  <span id="wt_forall" onclick="document.getElementById('worktime_user').focus()" style="cursor: text; z-index: 2; padding-top: 3pt; position: absolute; font-weight: bold; color: red">&nbsp;за&nbsp;всех&nbsp;участников</span>
  <input type="text" name="worktime_user" id="worktime_user" value="[% worktime_user | html %]" onfocus="forall_focus()" onblur="forall_unfocus()" /> &nbsp;
  </div>
[% ELSE %]
  На дату: <b>[% worktime_date | html %]</b> &nbsp;
  За пользователя: <b>[%+ Bugzilla.user.login | html %]</b> &nbsp;
[% END %]
  <input value=" Списать время " type="submit" style="font-weight: bold" /> &nbsp;
  Добавить комментарий: <input type="text" name="comment" value="[% comment | html %]" />
</fieldset>

<fieldset id="divide_hours_cont">
  <legend>Распределение часов по багам:</legend>
  Сумма: <input type="text" id="divide_hours" onchange="divide_hours_check()" onkeypress="divide_hours_check()" /> &nbsp;
  минимум&nbsp;по: <input type="text" id="divide_min_inc" name="divide_min_inc" value="0.1" /> &nbsp;
  <input value=" Распределить часы " type="button" onclick="divide_hours_click()" />
  (пропорционально / равномерно, будут добавлены к значениям в таблице)
</fieldset>

</form>

<script language="JavaScript">
var period_times = { [% FOREACH bug = bugs %][% IF NOT loop.first %],[% END %]'[% bug.bug_id %]':[% bug.interval_time || 0 %][% END %] };
function divide_hours_click()
{
  var min_inc = bzParseTime(document.getElementById('divide_min_inc').value);
  var sum = bzParseTime(document.getElementById('divide_hours').value);
  if (!sum || sum != sum)
  {
    alert('Нечего распределять! Введите число, время в формате HH:MM, или в днях 1d, 2d, 3d и т.п.');
    return;
  }
  var period_sum = 0, period_count = 0;
  for (var i in period_times)
  {
    period_sum += period_times[i];
    period_count++;
  }
  var cur, inc, ed;
  var total_inc = 0;
  for (var i in period_times)
  {
    ed = document.getElementById('wtime_'+i);
    cur = bzParseTime(ed.value);
    if (!cur || cur != cur)
      cur = 0;
    if (period_sum == 0)
      inc = sum/period_count;
    else
      inc = sum*period_times[i]/period_sum;
    inc = Math.round(inc*100)/100;
    if (inc < min_inc)
    {
      [%# не списываем время совсем уж мелкими суммами %]
      period_count--;
      period_sum -= period_times[i];
      continue;
    }
    [%# Следующие 3 строчки - извратик, призванный корректировать
      # возникающую ошибку округления, чтобы реальная сумма
      # списываемых часов была более близка к заданной %]
    sum -= inc;
    period_count--;
    period_sum -= period_times[i];
    cur += inc;
    total_inc += inc;
    cur = Math.round(cur*100)/100;
    ed.value = cur;
  }
}
function divide_hours_check()
{
  var val = document.getElementById('divide_hours').value;
  var sum = bzParseTime(val);
  var incorrect = val !== '' && (sum != sum || sum === null || sum === undefined);
  document.getElementById('divide_hours_cont').style.backgroundColor = incorrect ? '#ffe0e0' : '';
}
function forall_unfocus()
{
  var ed = document.getElementById('worktime_user');
  document.getElementById('wt_forall').style.display = ed.value ? 'none' : '';
}
function forall_focus()
{
  document.getElementById('wt_forall').style.display = 'none';
}
forall_unfocus();
</script>

[% PROCESS global/footer.html.tmpl %]
