[% INCLUDE global/header.html.tmpl title = "$terms.Bug $bug.id - Check access" %]

<h2> [% IF count_user_list > 0 %][% count_user_list %]Users[% ELSE %]Everyone[% END %] can see <a href="show_bug.cgi?id=[% bug.id %]">[% terms.Bug _ " " _ bug.id %]</a></h2>

[% IF count_user_list > 0 %]
<hr/>

<table>
    <thead>
        <tr>
            <th align="left">User login (email)</th>
            <th align="left">User name</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH user = user_list %]
        <tr>
            <td>[% user.1 %]</td><td>[% user.2 %]</td>
        </tr>
        [% END %]
    </tbody>
</table>
[% END %]
<hr/>

<p><a href="show_bug.cgi?id=[% bug.id %]">Back to [% terms.bug %] form</a></p>

[% INCLUDE global/footer.html.tmpl %]
