[%# Comment preview for Bugzilla
  # Usage:
  # - include comment-preview-div.html.tmpl (where the comment preview must be)
  # - include util.js
  # - set showcommentpreview() or showcommentpreview("comment textarea id") handler
  #   to the event which must display the preview. comment text is taken from
  #   element with ID "comment textarea id" passed as argument to showcommentpreview()
  #   or to the element with id="comment_textarea" by default
%]

<div id="wrapcommentpreview" style="display: none">
<div id="commentpreviewhtml"></div>
<p style="text-align: right; margin-top: 0"><a href="javascript:void(0)" onclick="hidepreview()">Hide preview</a></p>
</div>
