<div id="comment-preview-[% id %]">[% preview %]</div>
<div id="comment-body-[% id %]" style="display:none;">[% body %]</div>
<p style="text-align: right">
    <a href="javascript:void(0)" id="comment-preview-link-[% id %]" onclick="return showhide_comment_preview([% id %])">Show full text</a>
</p>
