[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #                 Elliotte Martin <elliotte_martin@yahoo.com>
  #%]

[%# INTERFACE:
  #   field: a Bugzilla::Field object
  #   value: The value of the field for this bug.
  #   override_legal_values (optional): The list of legal values, for select fields.
  #   editable: Whether the field should be displayed as an editable
  #             <input> or as just the plain text of its value.
  #   allow_dont_change: display the --do_not_change-- option for select fields.
  #   value_span: A colspan for the table cell containing
  #               the field value.
  #   no_tds: boolean; if true, don't display the label <th> or the 
  #           wrapping <td> for the field.
  #   desc_url: string; Normally the label of a non-custom field links to
  #             fields.html. If you want it to link elsewhere, specify the
  #             relative URL you want to link to, here. Remember to call
  #             url_quote on any query string arguments.
  #   bug: (optional) The current Bugzilla::Bug being displayed, or a hash 
  #        with default field values being displayed on a page.
  #   tabindex: (optional) HTML tabindex.
  #%]

[% SET hidden = !field.check_visibility(bug) %]

[% IF NOT no_tds %]
  <th class="field_label [% ' bz_hidden_field' IF hidden %]"
      id="field_label_[% field.name FILTER html %]">
    [% IF editable %]
      <label for="[% field.name FILTER html %]">
    [% END %]
      [% IF desc_url %]
        <a href="[% desc_url FILTER html %]">
      [% ELSIF !field.custom %]
        <a href="page.cgi?id=fields.html#[% field.name FILTER url_quote %]">
      [% END -%]
        [% field_descs.${field.name} || field.description FILTER html %]:
      [%- '</a>' IF (!field.custom || desc_url) %]
    [% '</label>' IF editable %]
  </th>
[% END %]

[% IF NOT no_tds %]
<td class="field_value [% ' bz_hidden_field' IF hidden %]"
    id="field_container_[% field.name FILTER html %]" 
    [% " colspan=\"$value_span\"" FILTER none IF value_span %]>
[% END %]
[% Hook.process('start_field_column') %]
[% IF editable %]
  [% SWITCH field.type %]
    [% CASE constants.FIELD_TYPE_FREETEXT %]
      <input id="[% field.name FILTER html %]" class="text_input"
             name="[% field.name FILTER html %]"
             value="[% value FILTER html %]" size="40"
             [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
             maxlength="[% constants.MAX_FREETEXT_LENGTH FILTER none %]" />
    [% CASE constants.FIELD_TYPE_NUMERIC %]
      <input id="[% field.name | html %]" class="numeric_input"
             name="[% field.name | html %]"
             value="[% value | html %]" size="14"
             [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
             maxlength="[% constants.MAX_NUMERIC_LENGTH | none %]"
             onchange="this.className = 'numeric_input' + (isNaN(this.value) ? ' numeric_invalid' : '');"
             onkeyup="this.className = 'numeric_input' + (isNaN(this.value) ? ' numeric_invalid' : '');" />
    [% CASE constants.FIELD_TYPE_DATETIME %]
      <input name="[% field.name FILTER html %]" size="20"
             [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
             id="[% field.name FILTER html %]"
             value="[% value FILTER html %]" />

      <script type="text/javascript">
        Calendar.set('[% field.name FILTER js %]')
      </script>
    [% CASE constants.FIELD_TYPE_BUG_ID %]
        <span id="[% field.name FILTER html %]_input_area">
          <input name="[% field.name FILTER html %]" id="[% field.name FILTER html %]"
                 [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
                 value="[% value FILTER html %]" size="7" />
        </span>

        [% IF bug.${field.name} %]
          [% bug.${field.name} FILTER bug_link(bug.${field.name}) FILTER none %]
        [% END %]
        <span id="[% field.name FILTER html %]_edit_container" class="edit_me bz_default_hidden">
          (<a href="#" id="[% field.name FILTER html %]_edit_action" [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]>edit</a>)
        </span>
        <script type="text/javascript">
        hideEditableField('[% field.name FILTER js %]_edit_container',
                          '[% field.name FILTER js %]_input_area',
                          '[% field.name FILTER js %]_edit_action',
                          '[% field.name FILTER js %]',
                          "[% bug.${field.name} FILTER js %]");
        </script>
    [% CASE constants.FIELD_TYPE_EXTURL %]
        <span id="[% field.name FILTER html %]_input_area">
          <input name="[% field.name FILTER html %]" id="[% field.name FILTER html %]"
                 [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
                 value="[% value FILTER html %]" size="30" />
        </span>

        [% IF bug.${field.name} %]
          [% SET url_quoted = bug.${field.name} | url_quote_ns %]
          <a href="[% field.url.replace('\$1', url_quoted) %]">[% bug.${field.name} | html %]</a>
        [% END %]
        <span id="[% field.name FILTER html %]_edit_container" class="edit_me bz_default_hidden">
          (<a href="#" id="[% field.name FILTER html %]_edit_action" [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]>edit</a>)
        </span>
        <script type="text/javascript">
        hideEditableField('[% field.name FILTER js %]_edit_container',
                          '[% field.name FILTER js %]_input_area',
                          '[% field.name FILTER js %]_edit_action',
                          '[% field.name FILTER js %]',
                          "[% bug.${field.name} FILTER js %]");
        </script>
    [% CASE [ constants.FIELD_TYPE_SINGLE_SELECT 
              constants.FIELD_TYPE_MULTI_SELECT ] %]
        <select id="[% field.name FILTER html %]" 
                [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
                name="[% field.name FILTER html %]" 
                [% IF field.type == constants.FIELD_TYPE_MULTI_SELECT %]
                    [% SET field_size = 5 %]
                    [% IF field.legal_values.size < 5 %]
                        [% SET field_size = field.legal_values.size %]
                    [% END %]
                    size="[% field_size FILTER html %]" multiple="multiple"
                [% END %]
                >
          [% IF allow_dont_change %]
            <option value="[% dontchange FILTER html %]"
                   [% ' selected="selected"' IF value == dontchange %]>
              [% dontchange FILTER html %]
            </option>
          [% END %]
          [% IF override_legal_values %]
            [% legal_values = override_legal_values %]
          [% ELSE %]
            [% legal_values = field.legal_values %]
            [% SET control_field = field.value_field.name %]
            [% SET control_field = "product_obj" IF control_field == "product" %]
            [% SET control_field = "component_obj" IF control_field == "component" %]
            [% legal_values = field.restricted_legal_values(bug.$control_field) %]
          [% END %]
          [% value_found = allow_dont_change AND value == dontchange %]
          [% FOREACH legal_value = legal_values %]
            <option value="[% legal_value.name FILTER html %]"
                    id="v[% legal_value.id FILTER html %]_[% field.name FILTER html %]"
              [% IF value.contains(legal_value.name).size %]
                selected="selected"
                [% value_found = 1 %]
              [% END %]>
              [%- legal_value.name FILTER html ~%]
            </option>
          [% END %]
          [% IF NOT value_found %]
            [% FOR v = value %]
            <option selected="selected" value="[% v | html %]">[% v | html %]</option>
            [% END %]
          [% END %]
        </select>
        [%# When you pass an empty multi-select in the web interface,
          # it doesn't appear at all in the CGI object. Instead of
          # forcing all users of process_bug to always specify every
          # multi-select, we have this field defined if the multi-select
          # field is defined, and then if this is passed but the multi-select
          # isn't, we know that the multi-select was emptied.
        %]
        [% IF field.type == constants.FIELD_TYPE_MULTI_SELECT %]
          <input type="hidden" name="defined_[% field.name FILTER html %]">
        [% END %]

     [% CASE constants.FIELD_TYPE_TEXTAREA %]
       [% INCLUDE global/textarea.html.tmpl
           id = field.name
           name = field.name
           minrows = 4
           maxrows = 8
           cols = 60
           defaultcontent = value
           tabindex = tabindex %]
     [% CASE constants.FIELD_TYPE_BUG_URLS %]
       [% '<ul class="bug_urls">' IF value.size %]
       [% FOREACH url = value %]
         <li>
           <a href="[% url FILTER html %]">[% url FILTER html %]</a>
           [% IF editable %]
             <label><input type="checkbox" value="[% url FILTER html %]"
                           [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
                           name="remove_[% field.name FILTER html %]" />
               Remove</label>
           [% END %]
         </li>
       [% END %]
       [% '</ul>' IF value.size %]

       [% IF editable && Param('use_see_also') %]
         <label for="[% field.name FILTER html %]">
           <strong>Add [% terms.Bug %] URLs:</strong>
         </label><br>
         <input type="text" id="[% field.name FILTER html %]" size="40"
                [% IF tabindex %] tabindex="[% tabindex FILTER html %]"[% END %]
                class="text_input" name="[% field.name FILTER html %]" />
       [% END %]
  [% END %]
  [%#
    # Custis Bug 129375 - Add search link for some custom fields
    #%]
  [% IF field.name != 'priority' AND field.name != 'bug_status' AND bug.${field.name} %]
  &nbsp;(<a href="/buglist.cgi?query_format=advanced&product=[% bug.product FILTER uri %]&[%
    IF field.type == constants.FIELD_TYPE_DATETIME 
        %]type0-1-0=greaterthaneq&field0-1-0=[% field.name %]&field0-0-0=[% field.name %]&value0-1-0=[% bug.${field.name}.substr(0,10) FILTER uri 
        %]+00%3A00%3A00&type0-0-0=lessthaneq&value0-0-0=[% bug.${field.name}.substr(0,10) FILTER uri %]+23%3A59%3A59[% 
    ELSE 
        %][% field.name %]=[% bug.${field.name} FILTER uri %][% 
    END 
        %]" target="_blank">search</a>)
  [% END %]
[% ELSIF field.type == constants.FIELD_TYPE_TEXTAREA %]
  <div class="uneditable_textarea">[% value FILTER html FILTER wrap_comment %]</div>
[% ELSIF field.type == constants.FIELD_TYPE_BUG_ID %]
    [% IF bug.${field.name} %]  
        [% bug.${field.name} FILTER bug_link(bug.${field.name}) FILTER none %]
    [% END %]
[% ELSE %]
  [% value.join(', ') FILTER html %]
[% END %]
[% Hook.process('end_field_column') %]
[% '</td>' IF NOT no_tds %]
