[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# This script/template only handles one bug #%]
[% bug = bugs.0 %]

[% IF !header_done %]
  [% PROCESS "bug/show-header.html.tmpl" %]
  [% IF last_title; SET title = last_title; END;
     IF last_header; SET header = last_header; END; %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% header_done = 1 %]

[% IF added_attachments %]
[% FOR att = added_attachments %]
<dl>
  <dt>
    <a title="[% att.description | html %]"
       href="attachment.cgi?id=[% att.id %]&amp;action=edit">Attachment #[% att.id %]</a>
    to [% "$terms.bug $att.bug_id" FILTER bug_link(att.bug_id) FILTER none %] created
  </dt>
  <dd>
    [% IF att.ctype_auto %]
      <p>
        <b>Note:</b> [% terms.Bugzilla %] automatically detected the content type
        <em>[% att.contenttype | html %]</em> for this attachment. If this is
        incorrect, correct the value by editing the attachment's
        <a href="attachment.cgi?id=[% att.id %]&amp;action=edit">details</a>.
      </p>
    [% END %]
    [% Hook.process("added_attachment_links") %]
  </dd>
</dl>
[% IF att.convertedbmp %]
<p>
  <b>Note:</b> [% terms.Bugzilla %] automatically converted your BMP image file to a
  compressed PNG format.
</p>
[% END %]
[% END %]
[% END %]

[% IF changed_attachment %]
[% SET title = "Changes Submitted to Attachment $changed_attachment.id of $terms.Bug $changed_attachment.bug_id" %]
<dl>
  <dt>Changes to
    <a href="attachment.cgi?id=[% changed_attachment.id %]&amp;action=edit">attachment [% changed_attachment.id %]</a>
    of [% "$terms.bug $changed_attachment.bug_id" FILTER bug_link(changed_attachment.bug_id) FILTER none %] submitted
  </dt>
</dl>
[% END %]

[% FOREACH item = sentmail %]
  [% FOR k = item.keys; $k = item.$k; END %]
  [% PROCESS bug/process/results.html.tmpl %]
[% END %]

[% IF added_attachments %]
<a href="attachment.cgi?bugid=[% added_attachments.0.bug_id %]&amp;action=enter">
  Create Another Attachment to [% terms.Bug %] [%+ added_attachments.0.bug_id %]</a>
</p>
[% END %]

[% IF nextbug %]
<hr />
<p>
  The next [% terms.bug %] in your list is [% terms.bug %]
  <a href="show_bug.cgi?id=[% bug.bug_id %]">[% bug.bug_id %]</a>:
</p>
<hr />
[% END %]

[% PROCESS bug/navigate.html.tmpl %]

[% PROCESS bug/edit.html.tmpl %]

<hr />

[% PROCESS bug/navigate.html.tmpl bottom_navigator => 1%]

<br />

[% PROCESS global/footer.html.tmpl %]
