[%# Show a single bug
  # License: Dual-license MPL 1.1+ or GPL 3.0+
  # Author(s): Vitaliy Filippov %]

[% bug = bugs.0 %]

[% PROCESS "bug/show-header.html.tmpl" %]

[% PROCESS bug/navigate.html.tmpl %]

[% PROCESS bug/edit.html.tmpl %]

<hr />

[% PROCESS bug/navigate.html.tmpl bottom_navigator => 1 %]

<br />

[% PROCESS global/footer.html.tmpl %]
