[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # CustIS "nice error" template.
  # F*cking people. Kitten is killed.
  #
  # Contributor(s): Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[%# Template errors are special in the sense of possibility to
  # raise a second error when trying to process other templates.
  # So don't try to do it. %]
[% IF error != "template_error" %]
[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]
[% END %]

<div style="margin: 20px; padding: 10px; font-size: 130%; float: left; font-family: sans-serif; border: 10px solid red; background-color: white">
  <img src="images/ascii_kitten.jpg" style="float: left; margin-right: 10px" />
  <p style="margin: 0">
    Произошла внутренняя ошибка Bugzilla.
  </p>
  <div style="font-size: 150%; background-color: #ffd0d0">
  <p style="margin: 0.5em 0 0 0" id="error_msg">[% error_message.replace("\n\n", "</p><p>") FILTER none %]</p>
  </div>
  <p style="margin-bottom: 0px">
  [% IF Param('report_code_errors_to_maintainer') %]
    Отчёт об ошибке автоматически отправлен <tt><a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a></tt>.<br />
    В ближайшее время она будет исправлена. Можете не закрывать вкладку и чуть позже нажать F5 (обновить страницу).<br />
  [% ELSE %]
    Пожалуйста, сохраните эту страницу и отправьте её по адресу <tt><a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a></tt>
    с информацией о том, какие Ваши действия привели к ошибке и пожеланиями об исправлении.
    <tt>
      <script type="text/javascript"> <!--
        document.write("<p>URL: " + document.location.href
          .replace(/&/g,"&amp;")
          .replace(/</g,"&lt;")
          .replace(/>/g,"&gt;") + "</p>");
      // -->
      </script>
    </tt>
  [% END %]
  </p>
  <p style="margin-bottom: 0px">Извините нас.</p>
  [% IF variables %]
  <pre>
  Дополнительные данные:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
  [% END %]
</div>

[% IF error != "template_error" %]
[% PROCESS global/footer.html.tmpl %]
[% END %]
