[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Byron Jones <bugzilla@glob.com.au>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # name: mandatory; field name
  # id: optional; field id
  # value: optional; default field value/selection
  # onchange: optional; onchange attribute value
  # disabled: optional; if true, the field is disabled
  # accesskey: optional, input only; accesskey attribute value
  # emptyok: optional, select only;  if true, prepend menu option to start of select
  # multiple: optional, do multiselect
  # custom_userlist: optional, specify a limited list of users to use
  #%]

[% SET id="userselect_" _ name IF !id %]
[% SET emptyok=emptyok ? 1 : 0 %]
[% SET custom_userlist=user.get_userlist UNLESS custom_userlist %]
<input
  name="[% name | html %]"
  value="[% value | html %]"
  autocomplete="off"
  [% IF disabled %] disabled="[% disabled | html %]" [% END %]
  [% IF accesskey %] accesskey="[% accesskey | html %]" [% END %]
  id="[% id | html %]" />
<script language="JavaScript">
addListener(window, 'load', function() {
    [% cl = []; FOREACH tmpuser = custom_userlist; cl.push([ tmpuser.real_name, tmpuser.email ]); END %]
    var emptyOptions = [% json(cl) %];
    new SimpleAutocomplete("[% id | js %]",
        function(h) { userAutocomplete(h, emptyOptions); },
        [% multiple ? '","' : 'null' %], null, null, null, true);
});
</script>
