[%# List "mail groups" (VERY specific to CustIS usage)
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Contributor(s): Stas Fomin <stas-fomin@yandex.ru>, Vitaliy Filippov <vitalif@mail.ru>
  # %]

[%# INTERFACE:
  # users: list of user information (id, login_name, realname, disabledtext).
  #%]

[% PROCESS global/header.html.tmpl
  title = "Mail Groups"
  style_urls = ['skins/standard/editusers.css']
%]

<p>
  В [% terms.Bugzilla %], кроме реальных пользователей, зарегистрированы
  несколько "пользователей-почтовых групп", 
  т.е. реально не существующих пользователей, 
  чье назначение состоит только в том, чтобы другие пользователи могли 
  подписаться на их корреспонденцию. 
</p>

<p>
  Список этих групп и входящих в них пользователей представлен ниже:
</p>

[% columns =
  [{name               => 'login_name'
    heading            => 'Группа'
    allow_html_content => 1
   }
   {name               => 'realname'
    heading            => 'Описание'
    allow_html_content => 1
   }
   {name               => 'list'
    heading            => 'Список пользователей'
    allow_html_content => 1
   }
  ]
%]

[% FOREACH thisuser = users %]
  [% IF thisuser.disabledtext %]
    [% thisuser.login_name = "<span class=\"bz_inactive\">$thisuser.login_name</span>" %]
    [% thisuser.realname = "<span class=\"bz_inactive\">$thisuser.realname</span>" %]
  [% END %]
[% END %]

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = users
%]

[% PROCESS global/footer.html.tmpl %]
