[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # custom_fields: a list of Bugzilla::Field objects, representing custom fields.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Custom Fields"
  doc_section = "custom-fields.html"
%]

[% delete_contentlink = BLOCK %]editfields.cgi?action=del&amp;name=%%name%%[% END %]

[% columns = [
     {
       name => "name"
       heading => "Edit custom field..."
       contentlink => "editfields.cgi?action=edit&amp;name=%%name%%"
     },
     {
       name => "description"
       heading => "Description"
     },
     {
       name => "sortkey"
       heading => "Sortkey"
     },
     {
       name => "type"
       heading => "Type"
     },
     {
       name => "mailhead"
       heading => "${terms.Bug}mail",
       hint => "Included in ${terms.bug}mail for new $terms.bugs"
       content_values => { '0' => '', '1' => 'Yes' }
       align => 'center'
     },
     {
       name => "clone_bug"
       heading => "Cloned"
       hint => "Is copied into the cloned bug"
       content_values => { '0' => '', '1' => 'Yes' }
       align => 'center'
     },
     {
       name => "nullable"
       heading => "Nullable"
       hint => "Allows empty (NULL) value"
       content_values => { '0' => '', '1' => 'Yes' }
       align => 'center'
     },
     {
       name => "obsolete"
       heading => "Obsolete"
       hint => "Is disabled and unused"
       content_values => { '0' => '', '1' => 'Yes' }
       align => 'center'
     }
   ]
%]

[% USE Bugzilla %]

[%# We want to display the type name of fields, not their type ID. %]
[% overrides.type = {} %]

[% FOREACH field_type = field_types.keys %]
  [% overrides.type.type.$field_type = {
       override_content => 1
       content => field_types.$field_type
     }
  %]
[% END %]

[% overrides.obsolete.obsolete.1 = {
  override_contentlink => 1
  contentlink => delete_contentlink
  content_values => ''
  override_content => 1
  content => 'Yes, Delete'
} %]

<h2>Custom fields</h2>

[% PROCESS admin/table.html.tmpl
     columns = columns
     overrides = overrides
     data = Bugzilla.get_fields({custom => 1, sort => 1})
%]

<p>
  <a href="editfields.cgi?action=add">Add a new custom field</a>
</p>

<h2>Standard fields</h2>

[% overrides.obsolete.obsolete = {} %]

[% PROCESS admin/table.html.tmpl
     columns = columns
     overrides = overrides
     data = Bugzilla.get_fields({custom => 0, sort => 'name'})
%]

[% PROCESS global/footer.html.tmpl %]
