[%# Template for editvisibility.cgi
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Contributor(s): Vitaliy Filippov <vitalif@mail.ru>, Vladimir Koptev <vladimir.koptev@gmail.com>
  # %]

[% PROCESS global/header.html.tmpl
    title = "Выбор активных полей при установке значения поля $field.description в $value.name"
    doc_section = "visibility-list.html"
%]

[% IF update %]
    [% IF updated %]
    <p>Следующие поля будут показаны для значения [% value.name | html %] поля [% field.description | html %]: <strong>[% updated | html %]</strong></p>
    [% END %]
    [% IF cleared %]
    <p>Следующие поля будут скрыты для значения [% value.name | html %] поля [% field.description | html %]: <strong>[% cleared | html %]</strong></p>
    [% END %]
    [% IF !cleared && !updated %]
    <p>Ничего не изменено</p>
    [% END %]
    <p><a href="editvisibility.cgi?field=[% field.name | url_quote %]&value=[% value.name | url_quote %]">К списку контролируемых полей</a></p>
[% ELSE %]
<h3>Выберите поля, которые будут отображаться, когда значение поля [% field.description | html %] установлено в [% value.name | html %]:</h3>

<form action="editvisibility.cgi?field=[% field.name | url_quote %]&value=[% value.name | url_quote %]&action=update" method="POST">
    <input type="hidden" name="token" value="[% token | html %]" />
    <table id="admin_table" cellspacing="0" cellpadding="4">
        <tr>
            <th align="left">Поле</th>
            <th align="left" colspan="2">Видимо ли</th>
        </tr>
        [% i = 0 %]
        [% FOREACH cfield = field.controls_visibility_of %]
        <tr class="[% IF i mod 2 == 0 %]odd[% ELSE %]even[% END %]_row">
            <td>[% cfield.description | html %]</td>
            <td align="center">
                <input type="checkbox" name="visible_[% cfield.id %]" value="1"
                    [% "checked=\"checked\"" IF cfield.has_visibility_value(value) %]
                    [% "disabled=\"disabled\"" IF cfield.has_all_visibility_values %] />
            </td>
            <td>
            [% IF cfield.has_all_visibility_values %]
                Поле видимо для всех значений поля <strong>[% field.description | html %]</strong><br/>
                <a href="editfields.cgi?action=edit&name=[% cfield.name | url_quote %]">Редактировать</a>
            [% END %]
            </td>
        </tr>
        [% i = i + 1 %]
        [% END %]
    </table>
    <p><input type="submit" name="save" value="Сохранить" /></p>
</form>
<p>
    <a href="[% IF field.name == "product" %]editproducts.cgi[% ELSE %]editvalues.cgi?field=[% field.name | url_quote %][% END %]">
        К списку значений поля [% field.description | html %]
    </a>
</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
