[% IF error == "cc_group_restriction" %]
  [% title = "CC Group Restriction" %]
  User [% user %] is restricted to watch this bug.
[% ELSIF error == "rms_fields_empty" %]
  [% title = "Some required fields are empty" %]
  [% FOR nok = not_ok_bugs %]
    [% fs = [] %]
    [% fs.push("Sprint") IF nok.s %]
    [% fs.push("Status Whiteboard") IF nok.w %]
    [% fs.push("Agreement") IF nok.a %]
    <a href="show_bug.cgi?id=[% nok.bug.id %]">[% terms.Bug %] [%+ nok.bug.id %] - [% nok.bug.short_desc | html %]</a>: You must fill in <b>[% fs.join(", ") %]</b> attribute[% IF fs.size > 1 %]s[% END %] before [% IF nok.bug.bug_status == "ASSIGNED" %]taking[% ELSE %]closing[% END %] this bug!<br />
  [% END %]
[% ELSIF error == "import_fields_mandatory" %]
  The following missing fields: [% fields.join(", ") | html %] are required to enter new bugs.
[% ELSIF error == "invalid_field_value" %]
  The value <b>"[% value_obj.name | html %]"</b> of field <b>[% value_obj.field.description | html %]</b>
  is unavailable for the selected value "<b>[% controller | html %]</b>" of
  the controlling field <b>[% value_obj.field.value_field.description | html %]</b>.
[% ELSIF error == "move_worktime_empty" %]
  Вы пытаетесь перенести время или распределить его в пропорции, взятой из
  <a href="show_bug.cgi?id=[% bug_id | html %]">[% terms.Bug %] [% bug_id | html %]</a>,
  но в нём нет списанного
  [% IF who %]пользователем [% who.identity | html %][% END %]
  [% IF from || to %]за период [% IF from %]с [% from | html%][% IF to %] по [% END %][% END %][% to | html %][% END %]
  времени.
[% END %]
