[% IF error == "cc_group_restriction" %]
   [% title = "CC Group Restriction" %]
   User [% user %] is restricted to watch this bug.
[% ELSIF error == "rms_fields_empty" %]
   [% title = "Some required fields are empty" %]
   [% SET fs = [] %]
   [% fs.push("Sprint") IF s %]
   [% fs.push("Status Whiteboard") IF w %]
   [% fs.push("Agreement") IF a %]
   You must fill in <b>[% fs.join(", ") %]</b> attribute[% IF fs.size > 1 %]s[% END %] before closing this bug!
[% END %]
