[%# Shows permissions for a user
  # License: Dual-license MPL 1.1+ or GPL 3.0+
  # Author(s): Vitaliy Filippov %]

[% BLOCK before_group_table %]
  <p>
    You are[% ' either' IF user.can_bless %] a member of the following groups
    [%- ' and/or can include/exclude other users from them (clickable groups are editable)' IF user.can_bless %]:
  </p>
[% END %]
[% BLOCK group_row %][% END %]
[% BLOCK group_head %][% END %]

[% IF user.groups.size OR user.can_bless %]

  [% PROCESS "account/prefs/group-list.html.tmpl" show_member=1 %]

[% ELSE %]

  <p>
    You are not a member of any [% terms.Bugzilla %] groups. This means you have default (or no)
    permissions for most [% terms.bugs %], and no administrative permissions.
  </p>

[% END %]
