[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Shane H. W. Travis <travis@sedsystems.ca>
  #
  #%]

[%# INTERFACE:
  # settings:      a hash of hashes, keyed by setting name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS global/header.html.tmpl
   title = "Default Preferences"
 %]

<p>
This lets you edit the default preferences values.
</p>
<p>
The Default Value displayed for each preference will apply to all users who
do not choose their own value, and to anyone who is not logged in.
</p>
<p>
The 'Enabled' checkbox controls whether or not this preference is available
to users.<br />
If it is checked, users will see this preference on their User Preferences page,
and will be allowed to choose their own value if they desire.<br />
If it is not checked, this preference will not appear on the User Preference
page, and the Default Value will automatically apply to everyone.
</p>

<hr />

[% IF settings.size %]
  <form name="adminsettingform" method="post" action="editsettings.cgi">
    <table>
      <tr>
        <th>Enabled</th>
        <th>Preference Text</th>
        <th>Default Value</th>
      </tr>
      [% FOREACH name = settings.keys.sort %]
        <tr>
          <td align="center">
            <input type="checkbox" name="[% name | html %]-enabled"
              id="[% name | html %]-enabled" value="1"
              [% " checked=\"checked\"" IF settings.${name}.is_enabled %] />
          </td>
          <td align="left">
            [% lc_messages.setting_descs.$name OR name | html %]
          </td>
          <td>
            <select name="[% name | html %]" id="[% name | html %]" style="width: 100%">
              [% FOREACH x = settings.${name}.legal_values %]
              <option value="[% x | html %]"
                [% " selected=\"selected\"" IF x == settings.${name}.default_value %]>
                [% lc_messages.setting_descs.${x} OR x | html %]
              </option>
              [% END %]
            </select>
          </td>
        </tr>
      [% END %]
      <tr><td colspan="3" align="center" style="border-width: 0; padding-top: 20px">
        <input type="submit" id="update" value="Submit Changes" />
      </td></tr>
    </table>
    <input type="hidden" name="action" value="update" />
    <input type="hidden" name="token" value="[% token | html %]" />
  </form>
[% ELSE %]
  There are no preferences to edit.
[% END %]

[% PROCESS global/footer.html.tmpl %]
