<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Печать SCRUM-карточек[% IF searchname || defaultsavename %][% ": " _ (searchname || defaultsavename) | html %][% END %]</title>
    <link rel="stylesheet" type="text/css" media="print" href="skins/standard/print.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/util.js"></script>
<style type="text/css">
.dot { border: 1px dashed black; }
.dot { white-space: nowrap; }
.dot a { color: black; text-decoration: none; }
.sevpri { font-size: 80%; vertical-align: bottom; }
.spc { height: 5px; }
.desc { height: 100%; border: 1px solid black; vertical-align: top; font-size: 120%; }
.desc div { word-wrap: break-word; overflow-wrap: break-word; width: [% t.cw %]cm; }
p { margin: 0.3em 0; }
.card { margin: [% t.cmt %]cm [% t.cmr %]cm [% t.cmb %]cm [% t.cml %]cm; font-size: [% t.fs %]pt; width: [% t.cw %]cm; height: [% t.ch %]cm; font-weight: bold; border-collapse: collapse; }
.card td { text-align: center; }
.margineditor { border: 1px solid black; margin: 0 auto; }
.margineditor td { vertical-align: middle; text-align: center; padding: 0; width: 40px; }
.margineditor input { width: 40px; border: 1px solid black; text-align: center; }
.est { border: 0; text-align: center; background-color: #f0f0f0; }
.page { border-collapse: collapse; }
.cardtd { border: 1px dashed black; text-align: left; vertical-align: top; }
.next { page-break-before: always; }
@media screen {
  .page { margin-top: 16px; }
  .cardtd { background: white; }
  .cardtd.selected { background: #E0E0FF; }
  .cardtd.highlight { background: #FFE0E0; }
}
@media print {
  @page { margin: 1cm; }
  .print_hide { display: none; }
}
</style>
<!--[if lte IE 6]>
<style>
.margineditor { margin: 0; }
</style>
<![endif]-->
</head>
<body>

<form method="GET" action="?" id="scrumform">
<div class="print_hide">

<input type="hidden" name="id" id="idlist_value" value="[% idlist %]" />

[%# Параметры разметки %]
<div style="float: left">
<p>
Карточек на листе:
<input type="text" name="t_cols" maxlength="3" size="1" value="[% t.cols %]" />
x
<input type="text" name="t_rows" maxlength="3" size="1" value="[% t.rows %]" />
</p>

<p>
Размер шрифта:
<input type="text" name="t_fs" maxlength="3" size="2" value="[% t.fs %]" /> пунктов
</p>

<p>
Размер листа:
<input type="text" name="t_pw" maxlength="5" size="3" value="[% t.pw %]" />
x
<input type="text" name="t_ph" maxlength="5" size="3" value="[% t.ph %]" />
(за вычетом полей)
</p>

<p>
Размер карточки:
<input type="text" name="t_cw" maxlength="5" size="3" value="[% t.cw %]" />
x
<input type="text" name="t_ch" maxlength="5" size="3" value="[% t.ch %]" />
</p>
</div>

[%# cml = card margin left, cw = card width и т.п. %]
<div style="float: left; margin-left: 20px; text-align: center">
<p>Отступы от карточки:</p>
<table class="margineditor">
<tr>
 <td></td>
 <td><input type="text" name="t_cmt" maxlength="3" value="[% t.cmt %]" /></td>
 <td></td>
</tr>
<tr>
 <td><input type="text" name="t_cml" maxlength="3" value="[% t.cml %]" /></td>
 <td style="border: 1px solid black; background: #e0e0e0;">
  &nbsp;
 </td>
 <td><input type="text" name="t_cmr" maxlength="3" value="[% t.cmr %]" /></td>
</tr>
<tr>
 <td></td>
 <td><input type="text" name="t_cmb" maxlength="3" value="[% t.cmb %]" /></td>
 <td></td>
</tr>
</table>
(см.)
</div>

<div style="float: left; margin-left: 50px; text-align: center">
<p>Текст настроек:</p>
<textarea name="settings_text" cols="70" rows="5" onchange="document.getElementById('load_settings').checked = true">[% settings_text | html %]</textarea><br />
<input type="checkbox" name="load_settings" id="load_settings" value="1" [% " checked" IF load_settings %] />
<label for="load_settings">Загрузить настройки &uarr;</label>
</div>

<p style="clear: both"><input type="submit" value=" Показать " /> <input type="button" value=" Удалить все карточки " onclick="deleteAllCards()" /> </p>

<p>
 Добавить баги: <input type="text" id="addbugs" value="" /> <input type="button" value=" Добавить " onclick="addNewCards()" /> <input type="button" value=" Добавить пустой лист " onclick="addEmptyPage()" /> (в конец списка)
</p>

<div id="btn_delete" style="float: left; border: 2px outset #b0b0b0; padding: 3px; background-color: #f0f0f0">
 <img src="images/delete24.png" style="vertical-align: middle" /> Удалить
</div>

<div id="btn_cut" style="float: left; border: 2px outset #b0b0b0; padding: 3px; margin-left: 3px; background-color: #f0f0f0">
 <img src="images/cut24.png" style="vertical-align: middle" /> Вырезать
</div>

<div id="btn_paste" style="float: left; border: 2px outset #b0b0b0; padding: 3px; margin-left: 3px; background-color: #f0f0f0">
 <img src="images/paste24.png" style="vertical-align: middle" /> Вставить
</div>

<div id="btn_paste_beg" style="float: left; border: 2px outset #b0b0b0; padding: 3px; margin-left: 3px; background-color: #f0f0f0; display: none">
 В начало
</div>

<p style="clear: both">
 Выделяйте карточки Ctrl+Click. <span id="cut_status"></span>
 Карточки можно перетаскивать.
</p>

<p>
 Если вы хотите сохранить текущую ссылку как шаблон формы печати карточек, сначала нажмите "Показать", чтобы применить все изменения.
</p>

</div>

<div id="pages">
[% FOR page = pages %][% SET pagei = loop.index %]
<table cellspacing="0" class="page [% IF NOT loop.first %]next[% END %]">
[% FOR row = page.rows %][% SET rowi = loop.index %]
<tr>
 [% FOR bug = row.bugs %][% SET coli = loop.index %]
 <td class="cardtd" id="cardtd_[% pagei %]_[% rowi %]_[% coli %]">
  [% IF NOT bug %]
  <table class="card" cellspacing="5">
   <tr><td>&nbsp;</td></tr>
  </table>
  [% ELSIF bug.error %]
  <table class="card" cellspacing="5">
   <tr><td><span style="font-size: 200%">[% bug.bug_id %]</span><br />[% bug.error %]</td></tr>
  </table>
  [% ELSE %]
   [% bug.html %]
  [% END %]
 </td>
 [% END %]
</tr>
[% END %]
</table>
[% END %]
</div>
</form>

<script language="JavaScript">
var emptycell = "<table class='card' cellspacing='5'><tr><td>&nbsp;</td></tr></table>";
var np = [% pages.size || "0" %];
var nr = [% t.rows || "0" %];
var nc = [% t.cols || "0" %];
var idlist = [ [% idlist_js || "" %] ];
</script>
<script language="JavaScript" src="extensions/custis/js/DragDrop.js"></script>
<script language="JavaScript" src="extensions/custis/js/scrumcards.js"></script>

</body>
</html>
