[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]
<html id="cmt">
<script type="text/javascript">
function resizeIframe() {
    parent.document.getElementById('commentpreview').style.height = document.getElementById('cmt').scrollHeight + "px";
}
</script>
<body onLoad="resizeIframe()" onResize="resizeIframe()" style="margin: 0; padding: 0">
<div class="bz_comment" style="border-style: dotted; border-width: 2px; border-color: #969696; background-color: #e8e8e8; padding: 5px">
<p><pre>[%- cgi.param("comment") FILTER wrap_comment FILTER quoteUrls FILTER links_targetblank -%]</pre></p>
</div>
</body>
</html>
