[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% col_field_disp = field_descs.$col_field || Bugzilla.get_field(col_field).description || col_field %]

[% FOR i IN [ 0 .. data.0.0.max ] %]
  [% data.0.0.$i = data.0.0.$i %]
[% END %]

[% FILTER null;
  USE graph = GD.Graph.pie(width, height);
    
  graph.set(title          => col_field_disp,
            pie_height     => 20,
            suppress_angle => 2,
            start_angle    => 180);
    
  graph.set_legend_font(Param('graph_font'), Param('graph_font_size'));
  graph.set_title_font(Param('graph_font'), Param('graph_font_size'));
  graph.set_label_font(Param('graph_font'), Param('graph_font_size'));
  graph.set_value_font(Param('graph_font'), Param('graph_font_size'));

  graph.plot(data.0).png | stdout(1);
  END;
-%]
