[%# Simple format for reports, without any navigation
  # License: Dual-license GPL 3.0+ or MPL 1.1+
  # Contributor(s): Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# INTERFACE:
  # You need to fulfill the interface to report-table.html.tmpl.
  #%]

<html>
  [% title = "$terms.Bug Report" %]
  <head>
    <title>[% title FILTER html %]</title>
    <base href="[% urlbase FILTER html %]" [% IF Bugzilla.cgi.param('target') == '_blank' %] target="_blank"[% END %] />
    <script type="text/javascript" src="js/resize-iframe.js"></script>
  </head>
  <body>
    [% PROCESS "reports/report-table.html.tmpl" %]
  </body>
</html>
