[%# Author: Vitaliy Filippov <vitalif@mail.ru>
  # License: MPL 1.1 %]

[% PROCESS global/header.html.tmpl
  title = "Create Multiple Attachments to Bug " _ bug_id
  header = "Create Multiple Attachments to Bug " _ bug_id
  doc_section = "attachments.html"
%]

[% fileX = BLOCK %]
<td>
  <span id="cont_XXX"><input type="file" id="data_XXX" name="data_XXX" onchange="file_onchange(this)" /></span>
  <input type="button" id="del_XXX" onclick="file_clear('data_XXX')" style="display: none" value="clear" />
</td>
<td><input type="text" id="description_XXX" name="description_XXX" size="40" onchange="this._changed=true" /></td>
<td>
  <input type="hidden" id="contenttypemethod_XXX" name="contenttypemethod_XXX" value="list" />
  <select name="contenttypeselection_XXX" id="contenttypeselection_XXX">
    <option value="">Detect automatically</option>
    <option value="text/x-diff">Patch</option>
    [% PROCESS "attachment/content-types.html.tmpl" %]
  </select>
</td>
[% END %]

<form action="attachments-multi.cgi?post=1" method="POST" enctype="multipart/form-data">
<input type="hidden" name="token" value="[% token %]" />
<table class="attach_multi">
  <thead>
    <tr>
      <th>File</th>
      <th>Description</th>
      <th>Content type</th>
    </tr>
    <tr id="fileX" style="display: none">
      [% fileX %]
    </tr>
  </thead>
  <tbody id="files">
    <tr id="file0">[% fileX.replace('_XXX', '_0') %]</tr>
  </tbody>
  <tbody id="common">
    <tr><td colspan="3" style="text-align: center">
      <p>Additional file selection boxes will appear as you select more files.</p>
      <p><b>Add comment to the [% terms.bug %]:</b></p>
      [% INCLUDE global/textarea.html.tmpl
        name    = 'comment'
        id      = 'comment_textarea'
        minrows = 6
        maxrows = 15
        wrap    = 'soft'
        style   = 'width: 100%'
      %]
      [% PROCESS "bug/comment-preview-div.html.tmpl" %]
      <p><input type="submit" value="Upload files as attachments to [% terms.bug %] [%+ bug_id %]" /></p>
    </td></tr>
  </tbody>
</table>
</form>

<script language="JavaScript">
function file_clear(e)
{
  e = document.getElementById(e);
  var ci = e.id.substr(5);
  e.parentNode.innerHTML = e.parentNode.innerHTML;
  document.getElementById('del_'+ci).style.display = 'none';
  document.getElementById('description_'+ci).value = '';
  document.getElementById('contenttypeselection_'+ci).selectedIndex = 0;
}
function file_onchange(e)
{
  var ci = e.id.substr(5);
  document.getElementById('del_'+ci).style.display = e.value ? '' : 'none';
  if (e.value)
  {
    // Fill description from file name if it wasn't changed by user
    var e1 = document.getElementById('description_'+ci);
    if (!e1._changed)
    {
      var p = e.value;
      var slash = p.lastIndexOf('/');
      var backslash = p.lastIndexOf('\\');
      var fname;
      if (slash == -1 && backslash == -1)
        fname = p;
      else if (slash > backslash)
        fname = p.substr(slash+1);
      else
        fname = p.substr(backslash+1);
      e1.value = fname;
    }
    // Add a new empty field if there are no empty fields
    var i = 0;
    var f;
    while (f = document.getElementById('data_'+i))
    {
      if (!f.value)
      {
        i = -1;
        break;
      }
      i++;
    }
    if (i > 0)
    {
      // Copy innerHTML of fileX
      var tr = document.createElement('tr');
      tr.id = 'file'+i;
      tr.innerHTML = document.getElementById('fileX').innerHTML.replace(/_XXX/g, '_'+i);
      document.getElementById('files').appendChild(tr);
    }
  }
}
</script>

[% PROCESS global/footer.html.tmpl %]
