[% USE Bugzilla %]

<html>

  <head>
    <title>[% title FILTER html %]</title>
    <base href="[% urlbase FILTER html %]" [% IF Bugzilla.cgi.param('target') == '_blank' %] target="_blank"[% END %] />
    <script type="text/javascript" language="JavaScript" src="js/resize-iframe.js"></script>
  </head>

  <body>

  [% IF attachments.size == 0 %]

  <h3>No attachments</h3>

  [% ELSE %]

  <ul>
    [% FOREACH a = attachments %]
    [% IF (show_obsolete && a.isobsolete) || !a.isobsolete %]
    <li>
      [% IF a.isobsolete %]<strike>[% END %]
      <a href="attachment.cgi?id=[% a.id %]">
        [% a.description FILTER html %]
      </a>
      [% IF a.isobsolete %]</strike>[% END %]
    </li>
    [% END %]
    [% END %]
  </ul>

  [% END %]

  </body>

</html>
