[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # name: string. The name of the select block to output.
  # default.$name.0: string. The default value for the block, if any.
  #%]

[% BLOCK select %]
  <select name="[% name FILTER html %]">
    <option value="">&lt;none&gt;</option>
    [% FOREACH field = report_columns %]
      <option value="[% field.id FILTER html %]" 
        [% " selected" IF default.$name.0 == field.id %]>
        [%# FIXME Take field descriptions from Bugzilla->messages->field_descs to field.description %]
        [% field_descs.$field || field.title || field.id FILTER html %]</option>
    [% END %]
  </select>
[% END %]
