[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Vitaliy Filippov <vitalif@mail.ru>
  #%]

[%# INTERFACE:
  # name: string. The name of the select block to output.
  # default.$name.0: string. The default value for the block, if any.
  #%]

[% BLOCK select %]
  <select name="[% name FILTER html %]">
    <option value="">&lt;none&gt;</option>
    [% FOREACH field = report_columns %]
      <option value="[% field.id FILTER html %]"
        [% " selected" IF default.$name.0 == field.id %]>
        [%# FIXME Take field descriptions from Bugzilla->messages->field_descs to field.description %]
        [% field_descs.$field || field.title || field.id FILTER html %]</option>
    [% END %]
  </select>
[% END %]
