#collapse_expand_comments a { margin: 0 8px; }

.bz_comment_table td { vertical-align: top; }

.bz_comment_user, .bz_comment_time,
.bz_comment_number, .bz_private_checkbox,
.bz_comment_actions { margin: 0 .5em; white-space: nowrap; }
.bz_comment_avatar { display: block; float: right; margin: -8px 8px 0 0; }

.bz_comment_user, .bz_comment_time, .bz_comment_user_images,
.bz_comment_worktime, .bz_comment_unmark_wtonly { float: left; }
.bz_comment_actions, .bz_comment_number, .bz_private_checkbox { float: right; }

.bz_comment_worktime { font-weight: bold; margin-left: 1em; }
.cmt_wtonly { font-size: 80%; vertical-align: middle; }
.bz_comment_unmark_wtonly { margin-left: 1em; }
.bz_private_checkbox input { margin: 0; vertical-align: middle; }
.bz_comment_user_images img { vertical-align: bottom; }

.bz_collapse_expand_comments { padding: 0; margin: 0 0 0 1em; list-style-type: none; min-width: 15em; }
.bz_collapse_expand_comments li { margin-bottom: .5em; }
.bz_collapse_comment { text-decoration: none; }

.bz_comment_head, .bz_first_comment_head { padding: .1em 0 .1em .5em; background-color: #e0e0e0; }

.bz_comment .attachment_image { max-width: 50em; margin: 10px 0px 0px 0px; }

.bz_comment_text.bz_fullscreen_comment { min-width: 50em; width: 100%; word-wrap: break-word; }
#commentpreviewhtml .bz_comment_text.bz_fullscreen_comment { min-width: 0px; }

.bz_comment .bz_fmt_table td, .bz_comment .bz_fmt_table th { border: 1px solid gray; padding: 5px; }

#comments > table, .bz_section_additional_comments > table { table-layout: fixed; }

.bz_textarea { width: 100%; height: 150px; }

.edit_comment_submit { width: 100%; text-align: right; }
