[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Albert Ting
  #
  # Contributor(s): Albert Ting <alt@sonic.net>
  #%]

[%# INTERFACE:
  # classifications: an array of classification objects containing
  #                  at least one product accessible by the user.
  # cloned_bug_id: ID of the bug being cloned.
  # cloned_comment: ID of the comment being cloned.
  #%]

[% IF target == "enter_bug.cgi" %]
  [% title = "Enter $terms.Bug" %]
  [% subheader = "Choose a classification for the new $terms.bug" %]
[% ELSIF target == "describecomponents.cgi" %]
  [% title = "Browse" %]
  [% subheader = "Select a classification to browse" %]
[% END %]

[% DEFAULT title = "Choose the classification" %]
[% PROCESS global/header.html.tmpl %]

<h3 style="margin-left: 20px">[% subheader || title | html %]:</h3>

<table class="choose_product">

  <tr class="all">
    <th><a href="[% target | url_quote %]?classification=__all&[% query_params | html %]">All</a></th>
    <td valign="top">Show all products</td>
  </tr>
  <tr class="all"><td colspan="2"><hr /></td></tr>

  <tbody>
[% FOREACH class = classifications %]
  <tr>
    <th><a href="[% target | url_quote %]?classification=[% class.name | url_quote -%]&[% query_params | html %]">[% class.name | html %]</a></th>
    <td>[% class.description | html_light %]</td>
  </tr>
[% END %]
  </tbody>

</table>

[% IF target == "enter_bug.cgi" AND user AND NOT cloned_bug_id AND user.in_group('importxls') %]
<hr />
<p class="importxls_link"><span>See also:</span> <a href="importxls.cgi">Mass bug import from Excel files</a>.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
