[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. However, you must fulfill the interface to
  # global/useful-links.html.tmpl.
  #%]

  [% Hook.process('main-end') %]
</div>

[%# Migration note: below this point, this file corresponds to the old Param
  # 'footerhtml'
  #%]

</div>
</div>
<div id="footer">
  <div class="intro">[% Hook.process('intro') %]</div>

[%# Migration note: the old param 'blurbhtml' goes here %]

[%# Migration note: useful-links.html.tmpl corresponds to %commandmenu% %]

[% IF user.id AND user.settings.saved_searches_position.value == "header" %]
[% PROCESS "global/common-links.html.tmpl" qs_suffix = "bottom" standalone = 1 %]
[% ELSE %]
[% PROCESS "global/useful-links.html.tmpl" qs_suffix = "bottom" %]
[% END %]

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% Hook.process("end") %]

</body>
</html>
