[%# 1.0@bugzilla.org %]

[% test_case_count = bug.get_test_case_count %]
<tr>
    <th class="field_label" id="field_label_testopia"><b>Testopia: </b></th>
    <td>
        [% IF test_case_count > 0 %]
        <a href="tr_list_cases.cgi?bug_id=[% bug.bug_id %]&current_tab=case">
        View [% terms.Bug %] Test Cases ([% test_case_count %]
        [% IF test_case_count > 1 %]
            cases)
        [% ELSE %]
            case)
        [% END %]
        </a> |&nbsp;
    [% END %]
    <a href="tr_new_case.cgi?product=[% bug.product FILTER url_quote %]&bug=[% bug.bug_id %]">Create test case</a>
    </td>
</tr>

