[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Akamai Technologies <bugzilla-dev@akamai.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Edit incoming addresses of email_in.pl"
%]

[% PROCESS "global/field-descs.none.tmpl" %]

<form method="post" action="?">
<input type="hidden" name="do" value="1">
[% IF !mode_add %]
<table class="editemin">
    <tr><th>Field</th><th>Value</th><th></th></tr>
[% FOR f IN fields %]
    [% IF la != f.address %]
    <tr><th colspan="3"><b>[% f.address %]</b> (<a href="?add=1&email=[% f.address FILTER html %]">add a field value for this address</a>)</th></tr>
    [% SET la = f.address %]
    [% END %]
    <tr>
        <td>[% field_descs.${f.field} %]: &nbsp;</td>
        <td><input style="width: 250px" type="text" name="f_[% f.address FILTER html %]_[% f.field FILTER html %]" value="[% f.value FILTER html %]" /></td>
        <td><input type="checkbox" name="del_[% f.address FILTER html %]_[% f.field FILTER html %]" value="1" id="del_[% f.address FILTER html %]_[% f.field FILTER html %]" /> <label for="del_[% f.address FILTER html %]_[% f.field FILTER html %]">delete</label></td>
    </tr>
[% END %]
</table>
<p><input type="submit" value="Save Changes" /> or <a href="?add=1">Add a new field value</a></p>
[% ELSE %]
<table>
<tr><td>E-mail address:</td><td><input style="width: 250px" type="text" name="email" value="[% email FILTER html %]" /></td></tr>
<tr><td>Field:</td><td><select name="field" style="width: 250px">
[% FOR f IN field_descs.keys.sort %]
<option value="[% f FILTER html %]"[% IF curfield == f %] selected[% END %]>[% field_descs.${f} FILTER html %]</option>
[% END %]
</select></td></tr>
<tr><td>Value:</td><td><input type="text" style="width: 250px" name="value" value="[% value FILTER html %]" /></td></tr>
</table>
<p><input type="submit" value="Add field" /></p>
[% END %]
</form>

[% PROCESS global/footer.html.tmpl %]
