[%# License: MPL 2.0, incompatible with secondary licenses
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to which the version belongs.
  # version: object; Bugzilla::Version object representing the version the user wants to edit.
  #%]

[% IF version.id %]
  [% title = BLOCK %]Edit Version '[% version.name | html %]' of product '[%- product.name | html %]'[% END %]
[% ELSE %]
  [% title = BLOCK %]Add Version to Product '[% product.name | html %]'[% END %]
  [% subheader = BLOCK %]This page allows you to add a new version to product '[% product.name | html %]'.[% END %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  subheader = subheader
  onload = "document.getElementById('version').focus()"
%]

<form method="post" action="editversions.cgi">

  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th class="field_label"><label for="version">Version:</label></th>
      <td><input id="version" size="64" maxlength="64" name="version" id="version" value="[%- version.name | html %]"></td>
    </tr>
    [% IF version.id %]
    <tr>
      <th class="field_label"><label for="isactive">Enabled For [% terms.Bugs %]:</label></th>
      <td><input id="isactive" name="isactive" type="checkbox" value="1" [% 'checked="checked"' IF version.isactive %]></td>
    </tr>
    [% INCLUDE "admin/fieldvalues/control-list-common.html.tmpl" this_field=version.field this_value=version %]
    [% END %]
  </table>

  <input type="submit" value="[% version.id ? "Save Changes" : "Add" %]">
  <input type="hidden" name="action" value="[% version.id ? "update" : "new" %]">
  <input type="hidden" name="product" value="[% product.name | html %]">
  <input type="hidden" name="token" value="[% token | html %]">
  [% IF version.id %]
  <input type="hidden" name="versionold" value="[% version.name | html %]">
  [% END %]
</form>

[% PROCESS admin/versions/footer.html.tmpl
  no_edit_version_link = version.id
  no_add_version_link = !version.id
%]

[% PROCESS global/footer.html.tmpl %]
